<div class="fanzoneFormView">
  <h1>Editing tailgate</h1>

  <%= render partial:"form", locals: { aTailgate: @tailgate }%>  

  <%= link_to 'Show', @tailgate %> |
  <%= link_to 'Back', tailgates_path %>
</div>
