<%= provide(:title, 'About Fanzo') %>

<div id="static_about">
  <div id="aboutContent">
    <div class="banner">
      <h1>About Fanzo</h1>
    </div>
    <div id="whatIsFanzo">
      <h2>What is Fanzo</h2>
      <p>
        Fanzo is a social network for sports fans, by sports fans.  
        Create your online tailgate, invite your friends, share your passion for the game and get sponsored like the athletes.
      </p>
    </div>
    <div id="usingFanzo">
      <h2>What can you do with Fanzo?</h2>
      <ul>
        <li>
          <h3>Start a fanzone</h3>
          <p>
            Create a fanzone and organize your own online tailgate decked out with fans, photos, videos and comments. 
            Invite friends and other fans to join your party. It’s your tailgate… be a fun party host and get conversations 
            going about your favorite sports moments, share content and prove your fan worthiness!
          </p>
        </li>
        <li>
          <h3>Find your people</h3>
          <p>
            You know who they are.  The others that sit on the edge of their seat watching your team, dreaming of the same victory.
            They have watched the same games, experienced the same highs and suffered through the same lows.  They are your people,
            connected by your shared passion.  Fanzo makes it easy for you to find them so you can share the love.
          </p>
        </li>
        <li>
          <h3>Find official watch sites</h3>
          <p>
            Where better to watch the game than with fans of your team?  But where do they get together to watch?  Fanzo has the
            answer.  Have you just moved, or are you traveling on game day? Check out a fanzone for your team and find out where you
            can hang with your peeps.
          </p>
        </li>
        <li>
          <h3>You’ve got fan swagger - show it off</h3>
          <p>
            You’ve been to every Rose Bowl since 1985, have autographs from ten professional athletes, 
            a photo with a Heisman Trophy winner and went streaking during World Cup; you are an insane fan. 
            Fill out your Fan Resume and tell other fans all about it!
          </p>
        </li>
        <li>
          <h3>Get sponsored like the athletes</h3>
          <p>
            Coming soon!
          </p>
        </li>
      </ul>
    </div>
    <div id="contact">
      <h2>Find us</h2>
      <ul>
        <li>Twitter: <a href="http://www.twitter.com/fanzofans">@FanzoFans </a></li>
        <li>Facebook: <a href="http://www.facebook.com/fanzofans">FanzoFans</a></li>
      </ul>
      <div class="team_link">
        <%= link_to "The Fanzo Team", fanzo_team_path, class: "fanzoButton "%>
      </div>
    </div>
  </div>
</div>
