    <div id="contact">
      <h2>Find us</h2>
      <ul>
        <li>Twitter: <a href="http://www.twitter.com/fanzofans">@FanzoFans </a></li>
        <li>Facebook: <a href="http://www.facebook.com/fanzofans">FanzoFans</a></li>
      </ul>
      <div class="team_link">
        <%= link_to "The Fanzo Team", fanzo_team_path, class: "fanzoButton "%>
      </div>
    </div>
