<%= provide(:title, 'Contact FANZO') %>

<div id="fanzo_team">
  <h1>#FANZO</h1>
  <h3>Our West Coast Crew</h3>
  <dl>
    <dt>Paul Ingalls, CEO</dt>
      <dd>
        Experienced business builder and company leader who gave it all up to chase a dream.  
        Previously co-founder &amp; CTO at Smilebox, Inc. where he defined the culture and lead the product team
        that built a service that touched hundreds of millions of people, and lead to a successful exit for
        the investors.  Prior to Smilebox, Paul worked with the amazing team that built RealArcade at RealNetworks,
        redefining the casual games business.  A graduate of the University of Notre Dame, Paul is a huge sports fan.
        Paul lives in Kirkland with his wife and three amazing daughters. Go Irish!
      </dd>
    <dt>Dana Dyksterhuis, Chief Community Officer</dt>
      <dd>
        Husker country (Omaha) gal to Seattle, in love with this gorgeous city and everything about it. 
        Abandoned my safe, comfort zone of PR to pursue this dream of Fanzo and blown away by everyone’s unending 
        support to make it happen with us. Met Paul after giving 15-second pitch (while shaking in my boots) at a 
        Lean Startup event featuring Dan Shapiro. Prior path includes working with the Seahawks while 
        at Qwest and CenturyLink, VP of Calgary Flames’ AHL team and PR Manager at Qwest Center Omaha (now CenturyLink Center Omaha). 
        Crazy for the English Premier League and everything European football.
      </dd>
    <dt>Frank Lee, Creative Director</dt>
      <dd>
        Mozilla Corporation UX Designer, Kinzin Creative Director, Smilebox Designer, Microsoft Program Manager, 
        Interaction Designer, User Interface Designer, Software Engineer, Photographer, NHL fan!
      </dd>
    <dt>KJ Hiramoto</dt>  
      <dd>
        We can’t forget our Intern here in Seattle who has helped us with everything from the grunt work 
        feeding of the hungry database, to social media. His time and talents have been an enormous help.
      </dd>
  </dl>
  <h3>"Who represents you back east?" (girl to Mikey in Swingers)</h3>
  <dl>
    <dt>Matt Creatore, East Coast Strategic Director</dt>
    <dt>Javier Sandoval, East Coast Business Development Director</dt>
    <dd>
      Matt and Javi are brilliant, up-and-coming, A-game players out of North Carolina that we are so fortunate to have. 
      They have been rockin’ it with business development, fan engagement and strategic, creative ideas to implement. 
    </dd>
  </dl>
  <blockquote>
    <p>The law of serendipity equals moments of opportunity.</p> 
    <small>Brian Wong, Kiip Founder</small>
  </blockquote>
  <p>This is the real story of how Fanzo came to be… we are grateful and thrilled that you’ve joined us in our journey!</p>
</div>
