<%= provide(:title, 'The Fanzo Team') %>

<div id="fanzo_team" >
  <div id="fanzoTeamContent">
    <div class="row-fluid">
      <div class="span4">
        <div class="headShot">
          <%= image_tag( "paul.png", alt:"Paul Ingalls") %>
        </div>
        <div class="about">
          <h2>Paul Ingalls</h2>
          <h3>CEO</h3>
          <p>
            Previously co-founder & CTO at Smilebox, leading product team through sale to Incredimail (now Perion) for $40 million.  
            Dev Manager at RealNetworks where he helped create the casual games business, leading and later managing the technical 
            team that built RealArcade, the first app store. Agile Team Coach, Notre Dame Alum, Microsoft Kinect Accelerator Mentor
          </p>
        </div>
      </div>
    
      <div class="span4">
        <div class="headShot">
          <%= image_tag( "dana.png", alt:"Dana Dyksterhuis") %>
        </div>
        <div class="about">
          <h2>Dana Dyksterhuis </h2>
          <h3>Chief Community Officer</h3>
          <p>
            CenturyLink PR Manager, (Qwest Field to CenturyLink Field announcement with Seahawks), 
            VP of Calgary Flames’ AHL team, Qwest Center Omaha Arena PR Manager 
            (helped promote Olympic Swim Trials, NCAA Championships, Harlem Globetrotters, WWE), 
            Former WOWT Broadcast News Reporter, Omaha Native, Husker and English Premier League Fan
          </p>
        </div>
      </div>
    
      <div class="span4">
        <div class="headShot">
          <%= image_tag( "frank.png", alt:"Frank Lee") %>
        </div>
        <div class="about">
          <h2>Frank Lee</h2>
          <h3>Creative Director</h3>
          <p>
            UX Designer at Mozilla Corporation (Firefox OS, Mozilla Marketplace), Creative Director at Kinzin, 
            Designer at Smilebox, UX Program Manager at Microsoft Corporation 
            (Original team member that created Microsoft Outlook, MSN Premium, 
            Consumer Incubation), Software Engineer, Photographer, Filmmaker, and NHL fan.
          </p>
        </div>
      </div>
    </div>
  
    <div class="row-fluid">
      <div class="span12">
        <dl>
          <h4>"Who represents you back east?" (girl to Mikey in Swingers)</h4>
          
          <dt>Matt Creatore, East Coast Strategic Director</dt>
          <dt>Javier Sandoval, East Coast Business Development Director</dt>
          <dd>
            Matt and Javi are brilliant, up-and-coming, A-game players out of North Carolina that we are so fortunate to have. 
            They have been rockin’ it with business development, fan engagement and strategic, creative ideas to implement. 
          </dd>
          
          <h4>The Person who gets the real work done</h4>
          <dt>KJ Hiramoto</dt>  
          <dd>
            We can’t forget our Intern here in Seattle who has helped us with everything from the grunt work 
            feeding of the hungry database, to social media. His time and talents have been an enormous help.
          </dd>
        </dl>
        <blockquote>
          <p>The law of serendipity equals moments of opportunity.</p> 
          <small>Brian Wong, Kiip Founder</small>
        </blockquote>
        <p>This is the real story of how Fanzo came to be… we are grateful and thrilled that you’ve joined us in our journey!</p>
      </div>
    </div>
  </div>
</div>
