<%= provide(:title, 'FANZO - Where Fans Rule!') %>

<div id="index">
  <div class="row-fluid">
    <div class="span3">
      <%= render partial: 'partials/left_nav', locals: { user: @user, } %>
    </div>
    
    <div id="frameContent" class="span9 container-fluid">
    </div>    
  </div>
</div>

<script language="JavaScript">
$(function()
{
  $('#allFanZones a').click();
  $('#allFanZones').addClass('active');
  
})  
</script>
