<%= provide(:title, 'FANZO - Uniting people around the world through sports') %>

<div class="row-fluid">
  <div class="span12 hero-unit">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div class="span4" style="width:326px;">
            <div id="slides">
              <div id="slides_tailgate">
                <div class="slides_container">
                </div>
                <a href="#" class="prev">prev</a>
                <a href="#" class="next">next</a>
              </div>
            </div>
          </div>
          <div>
            <h1>Welcome to FANZO</h1>
            <h2>FANZO is the best way to enjoy sports with other fans</h2>
            <h2><%= link_to "Click to Join the Party >>", new_user_registration_path, class: "btn btn-large btn-primary" %></h2>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          <h3>What is a FANZO tailgate?</h3>
          <p>FANZO tailgates bring people together who love a team and give them a place to share their passion.</p>
          <ul class="app_bullets">
            <li>See what other fans are saying</li>
            <li>Catch the latest fan images</li>
            <li>See what your friends have to say</li>
            <li>Chat with athletes & coaches</li>
            <li>Read the latest news</li>
          </ul>
        </div>
        <div class="span4">
          <h3>Can I create my own Tailgate?</h3>
          <p>YES! For $X.99/mo you can park your own Tailgate machine in our epic tailgate lot.</p>
          <ul class="app_bullets">
            <li>Trick out your tailgate with a custom look</li>
            <li>Decorate the walls however you'd like</li>
            <li>Pick the social & news feeds to include</li>
            <li>Blog your own news</li>
            <li>What's a tailgate without some games? Add a few</li>
            <li>Pick a physical location to watch the game live</li>
            <li>Show what's on the menu</li>
          </ul>
        </div>
        <div class="span4">
          <h3>Where can I watch the game?</h3>
          <p>Every Tailgate can have one or more physical locations associated with it where fans can meet to cheer their team to victory.</p>
          <ul class="app_bullets">
            <li>Find the best venue to watch the game, and meet other fans of your team</li>
            <li>Official team Tailgates can be found all around the country</li>
            <li>Search for fan Tailgates in your area</li>
            <li>Can't find one? Create your own & invite just your friends or invite fan's everywhere</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script language="JavaScript">
  var myInstagramView;
  
  $(function()
  {
    myInstagramView = new InstagramView("slides");
    myInstagramView.loadMediaForTag("tailgate" );
  
  
  })
</script>

