<%= provide(:title, 'FANZO - Uniting people around the world through sports') %>

<div class="row-fluid">
  <div class="span12 hero-unit">
    <div class="span4">
      <div id="slides">
        <div class="slides_container">
        </div>
        <a href="#" class="prev">prev</a>
        <a href="#" class="next">next</a>
      </div>
    </div>
    <div class="span8">
      <h1>Welcome to FANZO</h1>
      <h2>FANZO is the best way to enjoy the game with other fans</h2>
      <%= link_to "Click to Get Started >>", new_user_registration_path, class: "btn btn-large btn-primary" %>
      <p>With FANZO, you can:</p>
      <ul class="app_bullets">
          <li>Find the best venue to watch the game, and meet other fans of your team</li>
          <li>Connect and share your passion with your friends and other fans</li>
          <li>Chat with the athletes, coaches, journalists and bloggers for your favorite team</li>
          <li>See what the world is saying about your team</li>
      </ul>
    </div>
  </div>
</div>

<script language="JavaScript">
  var myInstagramView;
  
  $(function()
  {
    myInstagramView = new InstagramView("slides");
    myInstagramView.loadMediaForTag("tailgate", function(){
      $('#slides').slides({
        preload: false,
        play: 5000,
        pause: 2500,
        hoverPause: true,
        generatePagination: false
      });
    });
  
  
  })
</script>

