@import "partials/colors";

#template
{
  display:none;
}

.tweet
{
  padding:10px;
  border-bottom: $fanzoneLightBorder solid 1px;

  .tweetContent
  {
    margin-left: 42px;
    .timestamp
    {
      margin-top: -2px;
      color: $lightTextColor;
      float: right; 
    }
  
    .twitterName
    {
      font-weight: bold;
      line-height: 1em;
      margin-bottom: 3px;
    }

    .tweetMenu
    {
      .twitterActions
      {
        a
        {
          padding: 5px;
          
          &:first-child
          {
            padding-left:0px;
          }
        }
      }
    }
  }
}
