@import "partials/colors";

div#page_content
{
  position:relative;
  
  div#frameContent
  {
    position:relative;
    margin-left: 225px;
    max-width: 960px;

    div#flash_alerts
    {
      display:none;
      width: 100%;
      text-align: center;
      z-index: 1;
      margin-left: 15px;
      
      .notice
      {
      }
      
      .error
      {
      }
    }

  }
}

