@import "partials/colors";
@import "partials/mixins";

#top_nav
{
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  z-index: 2;
  min-width: 720px;
  
  .navbar-inner
  {
    height: 40px;
    padding: 10px 0px;
    border: none;
    border-bottom: 1px solid $topnavBottomBorderColor;
    background-color: $topnavBackgroundColor;
    background-image: asset-url("30px-shine.png", image);
    background-repeat: repeat-x;
    filter: none;

    @include border-radius(0px);
    @include box-shadow-with-ie(0px 2px 10px 15px rgba(177,177,177,0.65));    

    .drop_arrow
    {
      float: left;
      margin:5px 0px 0px 5px;
    }

    #fanzo_navigation
    {
      max-width: 960px;
      margin: 0 auto;
      
      div#account
      {
        margin-top: 8px;
        margin-right: 10px;
        #account_content
        {
          height: 32px;
          float:left;
          text-transform: uppercase;
          
          &:hover
          {
            .name
            {
              color: $linkHoverColor;
            }
            
            .drop_arrow
            {
              border-top-color: $dropArrowHoverColor;
            }
          }
          
          .dropdown-menu
          {
            margin-top: 30px;
            min-width: inherit;
            
            a
            {
              color: black;
            }
          }
          
          .login
          {
            padding-right: 10px;
          }
          
          .users_name
          {
            div.name
            {
              margin-top: 2px;
              float:left;
              font-size: 2em;
              letter-spacing: 0.03em;
              font-family: 'League Gothic',Helvetica,Arial,Verdana,sans-serif;
              padding: 8px;
              padding-right: 0px;
            }
            
            .drop_arrow
            {
              margin-top: 14px; 
            }
          }
        }
      }
      
      #logo
      {
        margin-left: -20px;
        float:left;
        a
        {
          padding: 0px;
          
          div
          {
            float:left;
          }
          
          .logoHolder
          {
            background-image: asset-url("fanzo-logo-01.png", image);
            width:160px;
            height:50px;
            
            &:hover
            {
              background-image: asset-url("fanzo-logo-01h.png", image);
            }
          }
          
          .tagline
          {
            padding-top:20px;
            padding-left:5px;
            font-size:1.5em;
            color: $topnavTaglineTextColor;
            font-family: 'League Gothic',Helvetica,Arial,Verdana,sans-serif;
            text-transform: uppercase;
            letter-spacing: 0.03em;
          }
        }
      }
      
      .nav
      {
        @include clearfix;
        margin-left: 50px;
        
        & > li > a
        {
          padding:17px 0px 0px 0px;
          text-transform: uppercase;
          letter-spacing: 0.03em;
          font-size: 2em;
          font-family: 'League Gothic',Helvetica,Arial,Verdana,sans-serif;
        }
        
        #myFanzones
        {
          
          &:hover
          {
            color: $linkHoverColor;

            .name
            {
              color: $linkHoverColor;
            }
            
            .drop_arrow
            {
              border-top-color: $dropArrowHoverColor;
            }
          }
          
          span
          {
            float:left;
            color: $linkColor;
          }
          
          .fanzone
          {
            a
            {
              padding: 3px 0px;
              
              img
              {
                height: 20px;
                width: 20px;
                margin-right: 5px;
              }
            }
          }
          
          #allFanzones
          {
            .team_logo div
            {
              width: 20px;
              height: 20px;
              margin-right: 5px;
              background: asset-url("fanzo-icons.png", image) 0px -20px no-repeat;
            }
          }
          
        }
        
        #fanzone_search
        {
          margin-top: 5px;
          margin-left: 30px;
          position: relative;

          form
          {
            
            #team
            {
              padding-left: 25px;
            }
          }
          
          i
          {
            position:absolute;
            left: 7px;
            top: 12px;
            opacity: 0.8;
          }

          i.icon-remove
          {
            left: inherit;
            right: 7px;
            cursor: pointer;
            opacity: 0.5;
          }
        }
        
      }
    }

  }
  
}
