@import "partials/mixins";
@import "partials/colors";
@import "web/modules/posts_and_comments/post_form";
@import "web/modules/posts_and_comments/posts";

#phoneFanzoneContent
{
  #postsAndComments
  {
    clear: both;
    background-color: white;

    .drop_arrow
    {
      width:0px;
      height: 0px;
      margin:0px;
      border-top: white solid 10px;
      border-left: transparent solid 5px;
      border-right: transparent solid 5px;
    }
    
    #postForm
    {
      padding: 10px 10px 5px 10px;
      
      #post_content
      {
        margin:0px;
        height: 32px;
      }

      #photo_picker i
      {
        font-size: 20px;
      }
      
      .social_controls
      {
        margin-right: 10px;

        .twitter_check
        {
          margin-right: 10px;
        }

        .facebook_check, .twitter_check
        {
          margin-top: 2px;
        }
        
      }
      
      #post_combo
      {
        position:relative;
      }
      
      #post_twitter_flag, #post_facebook_flag
      {
        width: 15px;
        height: 15px;
      }
    }
    
    #posts
    {
      .post
      {
        .profile_pic
        {
          margin: 0px;
          
          img
          {
            width: 24px;
            height: 24px;
          } 
        }
        
        .post_votes i.mine, .comment_votes i.mine
        {
          margin:0px;
        }

        .post_comments 
        {
          padding-left: 32px;
          
          .comment
          {
            padding-top: 5px;
          }
        } 
               
        .post_comment_form
        {
          padding-top: 5px;
          padding-left: 32px;
          
          .comment_form
          {
            padding-left: 32px;
            form #comment_content
            {
              height: 24px;
            }
          }

        }
        
        .post_content, .comment_content
        {
          margin-left: 32px;
          
          .post_media
          {
            width: 240px;

            .post_image
            {
              padding: 0px;
              img
              {
                max-width: 240px;
              }
            }
            
            .post_video
            {
              .playButtonBackground
              {
                top:25%;
                left:45px;
              }
            }
          }
        }
      }
    }
  }
}