<h2>Sign up</h2>

<%- if session["devise.twitter_data"] %>
    <%= render "twitter_authed_new_user" %>
<%- else %>
    <%= render "new_user" %>
<% end -%>

<%= render "new_user" %>

<%= render "devise/links" %>
