@import "partials/colors";
@import "partials/mixins";

#myFirstRunModal
{
  .welcome
  {
    padding: 10px 0px 5px 50px;
    font-size: 1.7em;
    font-weight: bold;
    color: $lightTextColor;
  }
  
  .firstRunContent
  {
    .branding
    {
      float: left;
      .logo
      {
        overflow:hidden;
        height: 55px;
        margin-left: -50px;
      }
      
      .tagline
      {
        padding-left: 50px;
        
        h2
        {
          text-transform: uppercase;
          color: $mediumTextColor;  
        }
      }
    }
    
    .callToAction
    {
      padding-left: 250px;
      padding-right: 20px;
      
      .getStarted
      {
        color: $mediumTextColor;
        padding: 10px;
        padding-top: 0px;
        font-weight: bold;
        font-size: 13px;
      }
      
      .goLogin
      {
        padding: 10px;
      }
    }
  }
}

.bubble
{
  max-width: 200px;
  padding: 20px;
  position:absolute;
  z-index: 1049;
  font-size: 14px;
  font-weight: bold;
  color: $mediumTextColor;
  background-color: $firstRunBubbleTopGradient;
  
  @include gradient-vertical($firstRunBubbleTopGradient, $firstRunBubbleBottomGradient);
  @include border-radius(6px);
  @include box-shadow-with-ie(0 1px 3px rgba(25, 25, 25, 0.8));
}

.topArrow:after {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.topArrow:after {
  border-color: rgba(253, 255, 228, 0);
  border-bottom-color: #FDFFE4;
  border-width: 15px;
  left: 50%;
  margin-left: -15px;
}

.rightArrow:after {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.rightArrow:after {
  border-color: rgba(253, 255, 228, 0);
  border-left-color: #FCFFD8;
  border-width: 15px;
  top: 50%;
  margin-top: -15px;
}

.leftArrow:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.leftArrow:after {
  border-color: rgba(253, 255, 228, 0);
  border-right-color: #FCFFD8;
  border-width: 15px;
  top: 50%;
  margin-top: -15px;
}

#latestNews
{
  top: 180px;
  left: 30px;
}

#localVenues
{
  top: 280px;
  right: 30px;
}

#postThoughts
{
  top: 490px;
  left: 260px;
}

#teamTweets
{
  top: 550px;
  right: 230px;
}

#meetFans
{
  top: 600px;
  left: 30px;
}

