@import "partials/colors";
@import "partials/mixins";

#myFirstRunModal
{
  .modal-body
  {
    width: 570px;
    height: 255px;
    padding: 0px;
    overflow: hidden;

    .firstRunTopSwatch, .firstRunBottomSwatch 
    {
      height: 40px;
      width: 580px;
      background-color: $linkColor;
      @include rotate3d(0,0,0,-5deg);
    }
    
    .firstRunTopSwatch
    {
      margin-left: -15px;
      margin-top: -25px;
      margin-bottom: 25px;
    }

    .firstRunBottomSwatch
    {
      margin-top: 15px;
    }
    
    .firstRunContent
    {
      float: left;
    }
    .callToAction
    {
      padding-left: 290px;
      padding-right: 10px;
      height: 190px;
      
      .getStarted
      {
        color: $darkTextColor;
        padding: 10px;
        padding-top: 0px;
        font-size: 1.6em;
        line-height: 1.3em; 
        
        .now
        {
          color: $linkColor;
        }
      }
      
      .goLogin
      {
        padding: 10px;
      }
    }
  }
}

.bubble
{
  max-width: 200px;
  padding: 20px;
  position:absolute;
  z-index: 1049;
  font-size: 14px;
  font-weight: bold;
  color: $firstRunBubbleTextColor;
  background-color: $firstRunBubbleBackground;
  
  @include border-radius(6px);
  @include box-shadow-with-ie(0 1px 3px rgba(25, 25, 25, 0.8));
}

.topArrow:after {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.topArrow:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: $firstRunBubbleBackground;
  border-width: 15px;
  left: 50%;
  margin-left: -15px;
}

.rightArrow:after {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.rightArrow:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: $firstRunBubbleBackground;
  border-width: 15px;
  top: 50%;
  margin-top: -15px;
}

.leftArrow:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.leftArrow:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: $firstRunBubbleBackground;
  border-width: 15px;
  top: 50%;
  margin-top: -15px;
}

#latestNews
{
  top: 180px;
  left: 30px;
}

#localVenues
{
  top: 280px;
  right: 30px;
}

#postThoughts
{
  top: 490px;
  left: 260px;
}

#teamTweets
{
  top: 550px;
  right: 230px;
}

#meetFans
{
  top: 600px;
  left: 30px;
}

