
div#myMediaModal 
{
  top: 0px;
  margin: 0px;
  width:670px;

  .modal-header 
  {
    height: 27px;
    width: 640px;
    
    h3
    {
      float: left;
      width: 580px;
      height: 27px;
      overflow: hidden;
    }
    .profile_pic
    {
      padding-right: 10px;
    }
  }
  
  .modal-body
  {
    clear: both;
    max-height: inherit;
    width: 640px;
    overflow: auto;
    
    .mediaImage
    {
      width: 640px;
      text-align:center;
    }
    .mediaCaption
    {
      width: 640px;
      text-align: center;
      margin-top: 10px;
      
      .bingNews
      {
        text-align: left;
        
        h4
        {
          margin-bottom: 10px;
        }
      }
    }
  }
  
  .modal-footer
  {
    .fanzoButton
    {
      margin-left: 15px;
    }
  }
}
