
div#myMediaModal 
{
  top: 0px;
  margin: 0px;
  width:670px;

  .modal-header 
  {
    height: 10px;
    width: 640px;
    border-bottom: 0px;
  }
  
  .modal-body
  {
    clear: both;
    max-height: inherit;
    width: 640px;
    overflow: auto;
    
    .mediaImage
    {
      height: 360px;
      text-align:center;
      
      img
      {
        height: 100%;
      }
    }

    .profile_pic
    {
      float: left;
      margin-left: 40px;
      padding-top: 20px;
      padding-right: 10px;
      height: 64px;
      width: 64px;
    }
    
    .mediaCaption
    {
      float: left;
      width: 500px;
      margin-top: 0px;
      
      h3
      {
        overflow: hidden;
        color: red;
        font-size: 40px;
      }
      
      p
      {
        color: red;
        font-size: 20px;
      }
      
      .bingNews
      {
        text-align: left;
        
        h4
        {
          margin-bottom: 10px;
        }
      }
    }
  }

  .modal-footer
  {
    .fanzoButton
    {
      margin-left: 15px;
    }
  }
}
