@import "partials/colors";

div#myMediaModal 
{
  top: 0px;
  margin: 0px;
  width:670px;

  .modal-header 
  {
    height: 10px;
    width: 640px;
    border-bottom: 0px;
  }
  
  .modal-body
  {
    clear: both;
    max-height: inherit;
    width: 640px;
    overflow: auto;
    
    .mediaContent
    {
      .mediaImageData, .mediaVideoData
      {
        padding-bottom: 20px;
      }
      
      .mediaImage
      {
        height: 360px;
        text-align:center;
        
        img
        {
          height: 100%;
        }
      }
  
      
      .mediaData
      {
        padding: 0px 140px;
        
        .mediaTitle
        {
          padding-top: 17px;
          line-height: 1.2em;
          text-transform: uppercase;
        }
        
        .profile
        {
          float:left; 
          padding-top: 20px;
          height: 100px;
          
          .profile_pic
          {
            padding-right: 10px;
            height: 64px;
            width: 64px;
          }
        }

        .mediaCaption
        {
          margin-top: 0px;
          
          .bingNews
          {
            .source
            {
              color: $lightTextColor;
            }
            
            .description
            {
              padding: 15px 0px;
              font-size: 1.25em;
            }
            
            .storyLink
            {
              
            }
          }
        }
      }
      
    }
    
  }

  .modal-footer
  {
    .fanzoButton
    {
      margin-left: 15px;
    }
  }
}
