@import "partials/colors";

#edit_user
{
  background-color: white;
  
  h3
  {
    margin-bottom: 10px;
  }
  
  .edit_header
  {
    border-bottom: 1px solid $borderColor;
    margin-bottom: 10px;
    
    h2
    {
      margin-bottom: 20px;      
    }
    
  }
  
  .registration_settings
  {
    margin: 0px;
    padding-right: 20px;
  } 
  
  .email_settings
  {
    margin: 0px;
    
    .check_and_label
    {
      clear: both;
      padding: 10px 0px;
      
      label, input
      {
        float:left;
      }
      
      label
      {
        width: 85%;
        padding: 0px 5px;
      }
      
      input
      {
        padding: 5px;
      }
    }
  } 
  
  .connections
  {
    margin: 0px;
    padding-right: 20px;

    .connection
    {
      border-top: 1px solid $borderColor;
      clear: both;
      padding: 10px;
      
      .connected
      {
        float: right;
        padding-top: 5px;
        padding-left: 10px;
        font-weight: bold;
      }
      
      a
      {
        width: 185px;
      }
    }
  }
  
  .locations
  {
    margin:0px;
    
    ul
    {
      margin: 0px;
      list-style:none;
      
      i
      {
        margin-top:2px;
      }
      .location_text
      {
        margin-left: 5px;
      }
    }
    
    .add_location
    {
      margin-top:5px;
    }
  }

  .edit_buttons
  {
    border-top: 1px solid $borderColor;
    clear: both;
    padding: 10px;
    
    .save_button
    {
      float:right;
    }
  }
  
  #myAddLocationModal, #myAddTeamModal
  {
    min-width: 300px;
   
    form, h3
    {
      margin:0px;
    }
    
    
  }
}
