@import "partials/colors";
@import "bootstrap/mixins";

div#tailgate_show
{
  div.banner
  {
    background-color: black;
    border: $fanzoneBorder solid 1px;
    border-bottom-width: 0px;
    
    .join_fanzone
    {
      .fan_count
      {
        width:56px;
        padding:10px;
        clear:both;
        color:white;
        text-align:center;
      }
    }

    div.banner_content
    {
      padding:10px;
      height: 124px;
      
      div.team_logo
      {
        float:left;
        margin-right: 10px;
        @include gradient-vertical(#FFFFFF, #E5E5E5);
        @include border-radius(50%);
        padding: 20px;
      }
      
      h1
      {
        color:white;
        padding: 5px;
      }
      
      p.description
      {
        color: white;
        font-size: 14px;
      }
      
      p.owner
      {
        color: $ownerText;
        
        span.fan_count
        {
          color: white;
          text-transform: uppercase;
        }
      }
    }
  }

  div#fanzoneContent
  {
    border: $fanzoneBorder solid 1px;
    border-top-width: 0px;
    
    h4
    {
      text-transform: uppercase;
      padding:10px;
      background-color: $fanzoneBackground;
      color: $fanzoneHeaderText;
      font-weight: normal;
    }

    .fanzonePosts
    {
      float: left;
      width: 66.6%;
      background-color: white;
      border-right: $fanzoneBorder solid 1px;
      
      textarea
      {
        @include border-radius(0);
        @include box-shadow(none); 
      }
      

      div#postForm
      {
        background-color: $fanzoneBackground;
        padding:10px;
        
        h4
        {
          padding-top:0px;
        }
        
        .profile_pic
        {
          margin-right:10px;
        }

        .post_fields
        {
          padding-left:42px;
          
          .social_controls
          {
            float:left;
            
            input
            {
              float:left;
              margin:5px;
            }
            
            div
            {
              float:left;
              height:20px;
              width:20px;
            }
            
            .twitter_check
            {
              background: asset-url("fanzo-icons.png", image) 0px 0px no-repeat;
              margin-right: 20px
            }
            
            .facebook_check
            {
              background: asset-url("fanzo-icons.png", image) -20px 0px no-repeat;
            }
          }
          
          .post_combo
          {
            float: right;
            
            #add_post, .quickTweetButton
            {
              float:left;
            }
            
            .quickTweetButton
            {
              padding: 6px 10px;
              border-left-width: 0px;
              div
              {
                margin: 0px;
                width:0px;
                height:0px;
                border-top: black solid 10px;
                border-left: transparent solid 5px;
                border-right: transparent solid 5px;
              }
            }
          }
          
        }
      }
      
      div#posts
      {
        .profile_pic
        {
          margin: 0px 10px 10px 0px;
        }

        div.post
        {
          background: white;
          padding: 10px;
          border-top: $fanzoneLightBorder solid 1px;
          
          
          .post_content
          {
            margin-left: 42px;
            
            div
            {
              font-weight:bold;
            }
            
            div.hide_post
            {
              float:right;
              background-color: $background;
              width:8px;
              height:20px;
              padding:0px 6px;
              color: #808080;
              @include border-radius(50%);
            }
          }
          
          .post_votes
          {
            float:right;

            i
            {
              margin-top:2px;
              cursor: pointer;
            }
            
            form
            {
              padding:0px;
              margin:0px;
            } 
                       
            .fan_score
            {
              text-align:center;
              color: grey;
              font-weight: bold;
              font-size: 14px;
            }
            
          }
          
          div.post_comments
          {
            clear:both;
            padding-left: 42px;
            
            .comment
            {
              clear:both;
              
              .comment_content
              {
                padding-left: 42px;
                div
                {
                  font-weight:bold;
                }
              }
            }
          }
          
          .post_comment_form
          {
            clear:both;
            padding-left:42px;
            
            .comment_form
            {
              padding-left:42px;
              
              .comment_submit
              {
                display:none;
                padding: 3px 15px;
                background: black;
                color: white;
                text-transform: uppercase;
                float:right;
              }
            }
          }
        }
      }
    
    }
    
    div.rightColumn
    {
      float: left;
      width: 33.1%;
      
      .venues
      {
       
        .locationLabel
        {
          padding:10px;
        }
        
        .noVenues
        {
          border-top: $fanzoneLightBorder solid 1px;
          background-color: white;
          padding: 10px;
        }
        .venue
        {
          border-top: $fanzoneLightBorder solid 1px;
          background-color: white;
          padding: 10px;
          
          .venue_image
          {
            float: left;
            width:32px;
            height:32px;
            background-color: #F0F0F0;
          }
          
          .venue_content
          {
            margin-left: 42px;
            .venue_name
            {
              font-weight:bold;
            }
            .venue_address
            {
              
            }
          }
        }
      }
      
      .twitterStream
      {
      }
    }
  }
}

div#allTiles
{
  & [class*="span"]
  {
    width:30%;
    margin:0px 15px 20px 0px;
  }
}
