@import "partials/colors";
@import "bootstrap/mixins";

div#allTiles
{
  & [class*="span"]
  {
    width:30%;
    margin:0px 0px 20px 15px;
  }
}

div#tailgate_show
{
  margin-left: 15px;
  @include box-shadow( 0 1px 2px rgba(25, 25, 25, 0.5) );
  
  #destroy_fanzone
  {
    position:absolute;
    top: 161px;
    right: 21px;
  }
  
  div.banner
  {
    background-color: black;
    
    .join_fanzone
    {
      .fan_count
      {
        width:56px;
        padding:10px;
        clear:both;
        color:white;
        text-align:center;
      }
    }

    div.banner_content
    {
      height: 140px;
      
      div.team_logo
      {
        float:left;
        margin-right: 10px;
        background-color: $fanzoneBannerLogoBackground;
        border-top: $fanzoneBorder solid 1px;
        padding: 30px;
      }
      
      div.fanzone_details
      {
        padding:10px;

        h1
        {
          color:white;
          padding: 5px;
        }
        
        p.description
        {
          color: white;
          font-size: 14px;
        }
        
        p.owner
        {
          color: $ownerText;
          
          span.fan_count
          {
            color: white;
            text-transform: uppercase;
          }
        }
      }
      
    }
  }

  div#fanzoneContent
  {
    background-color: $fanzoneContentBackground;
    
    h4
    {
      text-transform: uppercase;
      padding:10px;
      background-color: $fanzoneBackground;
      color: $fanzoneHeaderText;
      font-weight: normal;
    }

    div.rightColumn
    {
      float: left;
      width: 33.2%;
      border-left: $fanzoneBorder solid 1px;
      
      .venues
      {
       
        .locationLabel
        {
          padding:10px;
        }
        
        .noVenues
        {
          border-top: $fanzoneLightBorder solid 1px;
          background-color: white;
          padding: 10px;
        }
        .venue
        {
          border-top: $fanzoneLightBorder solid 1px;
          background-color: white;
          padding: 10px;
          
          .venue_image
          {
            float: left;
            width:32px;
            height:32px;
            background-color: #F0F0F0;
          }
          
          .venue_content
          {
            margin-left: 42px;
            .venue_name
            {
              font-weight:bold;
            }
            .venue_address
            {
              
            }
          }
        }
      }
      
      .twitterStream
      {
      }
    }
  }
}
