@import "partials/colors";
@import "bootstrap/mixins";

div#userShow
{
  padding-top: 40px;
  margin-left: 15px;
  
  #userContent  
  {
    background-color: $userProfileBackgroundColor;
    @include box-shadow( 0 1px 2px rgba(25, 25, 25, 0.5) );
    
    div.userBanner
    {
      position: relative;
      color: white;
      @include gradient-vertical($userProfileBannerGradientTop, $userProfileBannerGradientBottom);
      
      .edit_setting
      {
        position: absolute;
        top: -10px;
        right: 0px;
      }
      
      .userBannerContent
      {
        .big_profile_pic
        {
          float:left;
          margin-right: 15px;
        }
        
        .profile_details
        {
          min-width:200px;
          
          h1, p
          {
            padding:0px;
            margin:0px;
            color:white;
          }
          
          h1
          {
            padding: 10px 0px;
            font-weight:normal;
          }
          
          .user_description
          {
            font-size: 16px;
            padding-bottom: 5px;
          }
          
          .fan_since
          {
            font-size:11px;
          }
        }
      }
      
      .horn
      {
        position:absolute;
        right: 0px;
        bottom: 0px;
      }
    }
    
    #createdFanzones, #followedFanzones, #userTeams, .brags
    {
      background-color: $userProfileTitlesBackgroundColor;
  
      .contentContainer
      {
        .contentTitle
        {
          width: 120px;
          padding:10px;
          float:left;

          h2
          {
            font-weight:normal;
            margin:0px;
            font-size: 14px; 
            line-height: 14px;
            text-align: right;
          }
        }
        
        .userContent
        {
          padding: 10px 0px;
          background-color: $userProfileBackgroundColor;
          margin-left: 140px;
          line-height: 14px;
          font-size: 14px; 
        }
      }
    }
    
    #createdFanzones, #followedFanzones
    {
      border-top: 1px solid $borderColor;
    }
    
    .brags
    {
      .contentTitle
      {
        margin-top:2px;
      }
      
      .userContent
      {
        li
        {
          padding-bottom: 10px;
        }
      }
    }
    
    #userTeams
    {
      .user_team
      {
        float:left;
        width: 190px;
        height: 190px;
        padding: 15px;
        margin-left: 18px;
        margin-bottom: 18px;
        text-align:center;
        color: $textColor;
      }
    }
  }
}
