@import "bootstrap/mixins";
@import "partials/colors";

body
{
  padding: 0px;
  margin: 0px;
}

.fanzoButton
{
  color: $fanzoButtonText;
  background-color: $fanzoButtonBackground;
  border: $fanzoButtonBorder solid 1px;
  padding: 2px 10px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;  
  font-size: 12px;
  line-height: 1.5em;
  font-weight: bold;
  margin:0px;
  height: 23px;
  vertical-align:inherit;
  @include border-radius(0);
  @include box-shadow(none);
  
  &:hover
  {
    text-decoration:none;
    color:$fanzoButtonText;
  }
}


#phoneUI
{
  width:320px;
  height: 416px;
  position: relative;
  
  #phoneLeftNav
  {
    height: 416px;
    width: 260px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    background-color: red;
    
    
  }
  
  #phoneViewport
  {
    position: relative;
    height: 416px;
    top:0px;
    left:0px;
    
    #phoneTopNav
    {
      width:320px;
      height: 40px;
      position:absolute;
      top:0px;
      left:0px;
      background-color: $userProfileBannerGradientTop;
      @include gradient-vertical($phoneTopNavGradientTop, $phoneTopNavGradientBottom);
      
      #showLeftNavButton
      {
        margin: 8px;
        float:left;

        .icon-bar 
        {
          display: block;
          width: 18px;
          height: 2px;
          background-color: #f5f5f5;
          @include border-radius(1px);
          @include box-shadow(0 1px 0 rgba(0, 0, 0, 0.25));
        }
        
        .icon-bar + .icon-bar 
        {
          margin-top: 3px;
        }        
      }
      
      #phoneTitle
      {
        width: 192px;
        padding: 8px;
        float: left;
        text-align: center;
        color:white;
      }
    }
    
    #phoneContent
    {
      width:320px;
      height: 346px;
      position: absolute;
      top: 40px;
      overflow: auto;
      
      background-color: green;
    }
    
    #phoneFooterNav
    {
      width:320px;
      height: 30px;
      position: absolute;
      bottom: 0px;
      left: 0px;
      
      background-color: grey;
    }
  }
}
