@import "bootstrap/mixins";
@import "partials/colors";

#phoneLeftNav
{
  height: 406px;
  width: 250px;
  padding: 5px;
  overflow: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  background-color: $navBackgroundColor;
  
  .leftNavContent
  {
    & > div
    {
      border-bottom: 1px solid $borderColor;
      width: 250px;
      height: 32px;
      cursor: pointer;
      
      .navIcon
      {
        width:32px;
        height: 32px;
        float:left;

        i
        {
          display:block;
          margin:5px;
          width: 20px;
          height: 20px;
        }        
      }
      
      .navText
      {
        width: 208px;
        height: 22px;
        padding: 5px;
        
        float:left;
        color: $navLinkTextColor;
        font-size: 16px;
      }
    }
    
    .login
    {
      a
      {
        text-decoration:none;
      }
      
      .navText
      {
        background-color: $navLoginBackground;
        color: white;
      }
    }
    
    .userProfile
    {
      .navText
      {
        background-color: $navLoginBackground;
        color: white;
      }
    }
    
    .allFanzones
    {
      i
      {
        background: asset-url("fanzo-icons.png", image) 0px -20px no-repeat;
      }
    }
  
    .myFanzones
    {
      i
      {
        background: asset-url("fanzo-icons.png", image) -20px -20px no-repeat;
      }
    }
    
  }
  
}
