<div id="template" class="tweet well">
  <img class="twitterAvatar" width="32px" height="32px">
  <span class="twitterName"></span>: 
  <span class="twitterText"></span>
  <div class="tweetMenu">
    <div class="timestamp"></div>
    <div class="actions">
      <a id="reply"><%= image_tag("reply.png") %>Reply</a> |
      <a id="retweet"><%= image_tag("retweet.png") %>Retweet</a> |
      <a id="favorite"><%= image_tag("favorite.png") %>Favorite</a>
    </div>
  </div>
  <div class="alert alert-info fade in" style="display:none">
    <a class="close" data-dismiss="alert" href="#">x</a>
    <p><strong>Success!</strong></p>
  </div>
</div>
