<div id="template" class="tweet">
  <div class="alert alert-info fade in" style="display:none">
    <a class="close" data-dismiss="alert" href="#">x</a>
    <p><strong>Success!</strong></p>
  </div>
  <div class="twitterPic">
    <img class="twitterAvatar" width="32px" height="32px">
  </div>
  <div class="tweetContent">
    <div class="twitterName"></div> 
    <span class="twitterText"></span>
    <div class="tweetMenu">
      <div class="timestamp"></div>
      <div class="actions">
        <a id="reply">Reply</a> |
        <a id="retweet">Retweet</a> |
        <a id="favorite">Favorite</a>
      </div>
    </div>
  </div>
</div>
