<div id="tweetTemplate" class="tweet">
  <div class="alert alert-info fade in" style="display:none">
    <a class="close" data-dismiss="alert" href="#">x</a>
    <p><strong>Success!</strong></p>
  </div>
  <div class="profile_pic">
    <img class="twitterAvatar" width="32px" height="32px">
  </div>
  <div class="tweetContent">
    <div class="timestamp"></div>
    <div class="twitterName"></div> 
    <span class="twitterText"></span>
    <div class="tweetMenu">
      <div class="twitterActions">
        <span class="reply">Reply</span> |
        <span class="retweet">Retweet</span> |
        <span class="invite">Invite</span>
      </div>
    </div>
  </div>
</div>
