<footer class="footer">
  <nav>
    <ul>
      <li id="twitter_follow">
        <a href="https://twitter.com/FanzoFans" class="twitter-follow-button" data-show-count="false" data-lang="en">
          Follow Fanzo
        </a>
      </li>
      <li id="facebook_like">
        <div class="fb-like" 
             data-href="https://www.facebook.com/FanzoFans" 
             data-send="false" 
             data-layout="button_count" 
             data-width="90">
        </div>    
      </li>
      <li>
        <span class="copyright">&copy; 2012 Fanzo</span>
      </li>
      <li>
        <%= link_to "About", about_path %> 
      </li>
    </ul>
  </nav>
</footer>
