<div class="comment">
  <div class="profile_pic">
    <% if aComment.user.image %>
      <%= image_tag( aComment.user.image, size:"32x32" ) %>
    <% end %>
  </div>
  
  <div class="comment_content">
    <div><%= aComment.user.full_name %></div>
    <p><%= raw aComment.content.gsub(/\n/, "<br/>") %></p>
  </div>
</div>
