<%= link_to user_path(aFan) do %>
  <div class="profile_pic">
    <%= image_tag( aFan.image, size:"48x48" ) %>
  </div>
  <div class="nameAndPost">
    <h5><%= aFan.full_name %></h5>
    <span><%= aFan.location %></span>
  </div>
<% end %>
