<%= form_for(current_user.tailgate_followers.build(tailgate_id: tailgate.id), remote: true) do |f| %>
  <div><%= f.hidden_field :tailgate_id %></div>
  <%= f.submit "Follow", class: "follow_button" %>
<% end %>