<footer class="footer">
  <nav>
    <ul>
      <li id="twitter_follow">
        <a href="https://twitter.com/FanzoFans" class="twitter-follow-button" data-show-count="false" data-lang="en">
          Follow Fanzo
        </a>
      <li id="facebook_like">
        <div class="fb-like" 
             data-href="https://www.facebook.com/FanzoFans" 
             data-send="false" 
             data-layout="button_count" 
             data-width="80" 
             data-show-faces="true">
        </div>    
      </li>
    </ul>
    <div>
      <%= link_to "About", about_path %> | 
      <%= link_to "Team", fanzo_team_path %>
    </div>
  </nav>
</footer>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>      </li>
