<div class="field">
  <%= label_tag("Pick a game:") %><br />
  <%= select_tag(:event_id, options_for_select(@user.teams.first.events.collect {|p| [ "#{p.home_team} vs. #{p.visiting_team}", p.id ] } )) %>
</div>
