<li class="fanzone">
  <a href="#" onclick="loadData('<%= tailgate_path(id:aTailgate, noLayout:true ) %>')">
    <div class="team_logo"><%= teamLogo(aTailgate.team, :small) -%></div>
    <span class="team_name"><%= aTailgate.name -%></span>
  </a>
</li>
