<%= render partial: "partials/dialogs/media_modal"%>

<div id="myMediaSlider">
  <div id="myMediaControls">
    <div id="navigate_forward" class="outer hide">
      <div class="innerControl"></div>
    </div>
    <div id="navigate_backward" class="outer hide">
      <div class="innerControl"></div>
    </div>
  </div>
  <div id="myMediaTemplate" class="mediaThumbnail">
    <div class="mediaAnnotation"></div>
    <div class="media">
      <%= image_tag "loading.gif", class:"mediaImage", size:"70x70", style:"padding:40px" %>
    </div>
  </div>
  <div id="myMediaContent">
  </div>
</div> 
