<div id="myMediaModal" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <div>
      <img class="profile_pic" width="32px" height="32px"/>
      <h3>Instagram Title</h3>
    </div>
  </div>
  <div class="modal-body">
    <div id="mediaImageData">
      <div class="instagramImage"></div>
      <div class="instagramCaption"></div>
    </div>
    <div id="mediaVideoData">
      <div id="player"></div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="fanzoButton" id="post_media_button" data-dismiss="modal">Add To New Post</a>
    <a href="#" class="fanzoButton" data-dismiss="modal">Done</a>
  </div>
</div>
<div id="myMediaSlider">
  <div id="myMediaControls">
    <div id="navigate_forward" class="outer hide">
      <div class="innerControl"></div>
    </div>
    <div id="navigate_backward" class="outer hide">
      <div class="innerControl"></div>
    </div>
  </div>
  <div id="myMediaTemplate" class="mediaThumbnail">
    <div class="mediaAnnotation"></div>
    <div class="media">
      <%= image_tag "loading.gif", class:"mediaImage", size:"70x70", style:"padding:40px" %>
    </div>
  </div>
  <div id="myMediaContent">
  </div>
</div> 
