<div class="venue">
  <div class="venue_image"></div>
  <div class="venue_content">
    <div class="venue_name"><%= aVenue.name -%></div>
    <div class="venue_address">
      <%= aVenue.location.address1 -%><br/><%= aVenue.location.city -%>, <%= aVenue.location.state.abbreviation -%>
    </div>
  </div>
</div>  
