<div id="welcome" class="hide">
  <div class="row-fluid">
    <div class="span12">
      <h1>Welcome to Fanzo!</h1>
      <h2>
        Find and connect with other fans of your passion, locally and globally. 
        <%= link_to "Learn more", about_path %>
      </h2>
    </div>
  </div>
  <div class="row-fluid searchOrCreate">
    <div class="span6 teamSearch">
      <%= render partial:"partials/team_search" %>
    </div>
    <div class="span1 or">
      <h2>or</h2>
    </div>
    <div class="span5 createFanzone">
      <a href="#myLoginModal" data-toggle="modal">
        <div class="fanzoButton"><span>+</span> &nbsp; Create a Fanzone</div>
      </a>
    </div>
  </div>
</div>
