<div id="welcome">
  <div class="welcomeContent">
    <div class="row-fluid">
      <div class="span12 welcomeMessage">
        <h2>Browse and pick a team below</h2>
        <p class="or">or</p>
        <div class="teamSearch">
          <h2>search:</h2>
          <div class="searchControl">
            <%= render partial:"partials/team_search" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
