<% if aListOfBrags.length > 0 %>
  <div class="brags clearfix">
    <h2><%= aTitle -%></h2>
    <ul>
      <% aListOfBrags.includes(:brag).each do |aUserBrag| %>
        <li class="user_brag">
          <%= aUserBrag.brag.content %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
