<% if aListOfBrags.length > 0 %>
  <div class="brags row-fluid">
    <div class="contentContainer">
      <div class="contentTitle">
        <h2><%= aTitle -%></h2>
      </div>
      <div class="userContent">
        <ul>
          <% aListOfBrags.includes(:brag).each do |aUserBrag| %>
            <li class="userBrag">
              <%= aUserBrag.brag.content %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
