<%= provide(:title, "My Profile" ) %>
<p><%= @user.email if @user.email %></p>

<% if @user.teams.length > 0 %>
  <%= render :partial => 'partials/game_picker' %>
<% else %>
  <%= render :partial => 'partials/team_picker' %>
<% end %>
