@import "bootstrap/mixins";
@import "partials/colors";

#user_mailer_layout
{
  width: 540px;
  margin: 0px auto;
  padding: 30px;
  background-color: $backgroundColor;
  
  table
  {
    border-collapse:collapse;
    background-color: $fanzoneContentBackground;
  }
  
  small
  {
    color: $lightTextColor;
  }
  
  .header3
  {
    margin-bottom:10px;
  }

  
  #topper
  {
    width: 540px;
    background-color: $backgroundColor;
  
    .preview
    {
      width: 360px;
      padding: 10px;
    }
    
    .email_link
    {
      width: 140px;
      padding: 10px;
    }
  }
  
  #header
  {
    width: 538px;
    border: solid 1px $borderColor;
  
    .alert_text
    {
      width:278px;
      padding: 10px;
    }
    
    .logo
    {
      width:220px;
      padding: 10px;
      text-transform: uppercase;
      text-align: center;
      
      .tagline
      {
        color: $navTaglineColor;
      }
    }
  }
  
  #content
  {
    width: 538px;
    border-left: solid 1px $borderColor;
    border-right: solid 1px $borderColor;
    border-bottom: solid 1px $borderColor;
    
    .main_body
    {
      width: 538px;
    
      .left_column
      {
        width: 157px;
        padding: 10px;
        border-right: 1px solid #CCCCCC;
        
        .tip_name
        {
          font-weight: bold;
          text-decoration: italics;
        }
        
        p
        {
          padding-bottom: 10px;
        }
      }
      
      .main_column
      {
        width: 340px;
        padding: 10px;
    
        .main_content
        {
          width: 340px;
          
          .header2
          {
            padding: 10px 0px;
          }
          
          .profile_pic
          {
            width: 32px;
          }
    
          .user_name
          {
            width: 288px;
            padding: 10px;
          }
          
          .email_content
          {
            padding: 0px 10px 20px 10px;
            
            .post_image
            {
              padding-bottom: 10px;
            }
            
            p
            {
              padding-bottom: 10px;
            }
          }
    
          .menu
          {
            width: 340px;
            border-top: 1px solid #CCCCCC;
            padding-top: 10px;
            text-align: right;
            
            a
            {
              margin:5px;
            }
          }
        }
      }
    }
    
    .footer
    {
      width: 540px;
      border-top: 1px solid #CCCCCC;
      
      p
      {
        padding: 10px;
      }
    }
  }
}

