$("#fanzone_nav ul").append("<%= escape_javascript(render partial:'partials/left_nav_tailgate', locals: { aTailgate: @tailgate_follower.tailgate }) %>");
$("#fanzone_nav #nav_fanzone_<%= @tailgate_follower.tailgate.id -%>").addClass('active');
$("#tailgate_<%= @tailgate_follower.tailgate.id -%> .join_fanzone").html("<div class='myFanzone'></div>");
