@import "partials/colors";
@import "partials/mixins";
@import "web/modules/dialogs/connect_twitter_modal";

div#myConnectTwitterModal
{
  .modal-body
  {
    width: 260px;
    text-align:center;
    padding: 30px 20px;
  }
}
