@import "partials/mixins";
@import "partials/colors";

body
{
  padding:0px;
  min-height: 750px;
  margin: 0px auto;
  background-color: $backgroundColor;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1.5em;
}

h1, h2, h3, h4
{
  font-family: 'League Gothic',Helvetica,Arial,Verdana,sans-serif;
  font-weight: normal;
  letter-spacing: 0.03em;
}

h1 
{
  color: $header1Color;
}

h2, h3
{
  color: $header2Color;
}

a
{
  color: $linkColor;
  text-decoration: none;
  
  &:hover
  {
    color: $linkColor;
  }
}

.zocial:hover
{
  color: white;
}

.profile_pic
{
  float:left;
  width:32px;
  height:32px;
}

.drop_arrow
{
  margin: 0px;
  width:0px;
  height:0px;
  border-top: $dropArrow solid 10px;
  border-left: transparent solid 5px;
  border-right: transparent solid 5px;
}

.debug_dump 
{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing(border-box);
}

input, textarea, select, .uneditable-input 
{
  width: 100%;
  height: auto;
  @include box_sizing(border-box);
}

