@import "bootstrap/mixins";
@import "partials/colors";

#phoneFanzoneViewport
{
  background-color: $navBackgroundColor;
  z-index: 2;

  #phoneFanzoneTopNav
  {
    #backToTilesButton, #followButton
    {
      margin: 3px;
      float:left;
    }
  }
  
  #phoneFanzoneLoading
  {
    width: 220px;
    height: 300px;
    padding: 70px 40px;
    margin: 0 auto;
    text-align: center;

    h1
    {
      height: 20px;
      padding: 20px 10px;
      vertical-align: center;
      float: left;
    }

    img
    {
      float: left;
    }
    
  }
  
  #phoneFanzoneContent
  {
  }

  #phoneFanzoneFooterNav
  {
    width:320px;
    height: 40px;
    position: absolute;
    bottom: 0px;
    background-color: $phoneBottomNavColor;
    
    
    ul
    {
      list-style: none;
      width: 300px;
      margin: 0px auto;
      padding: 0px;
      
      li
      {
        width: 54px;
        padding: 10px;
        float: left;
        color: white;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
      
        border-right: 1px solid white;
      }
      
      li:last-child
      {
        border: none;
      }
    }
  }
}
