@import "bootstrap/mixins";
@import "partials/colors";

#phoneFanzoneViewport
{
  background-color: $navBackgroundColor;
  z-index: 2;

  #phoneFanzoneTopNav
  {
    #backToTilesButton, #followButton
    {
      margin: 3px;
      float:left;
    }
  }
  
  #phoneFanzoneContent
  {
    .banner_content
    {
      position:relative;
      height: 140px;
      color: $fanzoneBannerTextColor;
      @include clearfix;

      div.team_logo
      {
        float:left;
        background-color: $fanzoneBannerLogoBackground;
        border-top: $fanzoneBorder solid 1px;
        padding: 10px;
      }
      
      div.fanzone_details
      {
        padding-left:110px;
        
        .official
        {
          display:none;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 0.9em;
          color: $officialTextColor;
          height: 12px;
          width:100%;
          @include gradient-horizontal($officialBadgeGradientBeginColor, $officialBadgeGradientEndColor);
        }

        h1
        {
          color: $fanzoneBannerTextColor;
          margin:0px;
          padding: 5px 0px;
          font-weight: normal;
          font-size: 1.4em;
        }
        
        .description
        {
          font-size: 1.0em;
        }
        
        .owner
        {
          position:absolute;
          bottom: 0px;
          left: 0px;
          padding: 5px;
          
          .profile_pic
          {
            width: 24px;
            height: 24px;
            img
            {
              width: 24px;
              height: 24px;
            }
          }
          
          .owner_details
          {
            float:left;

            p
            {
              font-size: 0.7em;
              line-height: 1.2em;
              margin:0px;
              padding-left: 5px;
            }
          }
        }
      }
    }
  }

  #phoneFanzoneFooterNav
  {
    width:320px;
    height: 40px;
    position: absolute;
    bottom: 0px;
    background-color: $phoneBottomNavColor;
    
    
    ul
    {
      list-style: none;
      width: 300px;
      margin: 0px auto;
      padding: 0px;
      
      li
      {
        width: 54px;
        padding: 10px;
        float: left;
        color: white;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
      
        border-right: 1px solid white;
      }
      
      li:last-child
      {
        border: none;
      }
    }
  }
}
