@import "web/modules/buttons/fanzoButton";
@import "web/modules/buttons/playButton";

body
{
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

.profile_pic
{
  float:left;
  width:32px;
  height:32px;
}

a
{
  color: $linkColor;
  text-decoration: none;
  
  &:hover
  {
    color: $linkColor;
  }
}

.hide
{
  display: none;
}



.phoneUI
{
  width:320px;
  height: 416px;
  position: relative;
  overflow: hidden;
  
  .phoneViewport
  {
    position: relative;
    height: 416px;
    top:0px;
    z-index: 1;

    @include transition(all 0.3s ease-in-out);
    @include backface-visibility(hidden);

    .phoneTopNav
    {
      width:320px;
      height: 30px;
      position:fixed;
      top:0px;
      left:0px;
      background-color: $userProfileBannerGradientTop;
      @include gradient-vertical($phoneTopNavGradientTop, $phoneTopNavGradientBottom);
        
      .phoneTitle
      {
        width: 150px;
        padding: 5px;
        float: left;
        text-align: center;
        color:white;
      }
      
    }
    
    .phoneContent
    {
      width:320px;
      height: 346px;
      position: absolute;
      top: 30px;
      overflow-y: auto;
      overflow-x: hidden;
      background-color: $navBackgroundColor;
    }
  }
}
