@import "bootstrap/mixins";
@import "partials/colors";

body
{
  padding: 0px;
  margin: 0px;
}

.fanzoButton
{
  color: $fanzoButtonText;
  background-color: $fanzoButtonBackground;
  border: $fanzoButtonBorder solid 1px;
  padding: 2px 10px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;  
  font-size: 12px;
  line-height: 1.5em;
  font-weight: bold;
  margin:0px;
  height: 23px;
  vertical-align:inherit;
  @include border-radius(0);
  @include box-shadow(none);
  
  &:hover
  {
    text-decoration:none;
    color:$fanzoButtonText;
  }
}

a
{
  color: $linkColor;
  text-decoration: none;
  
  &:hover
  {
    color: $linkColor;
  }
}

.hide
{
  display: none;
}

#phoneUI
{
  width:320px;
  height: 416px;
  position: relative;
  overflow: hidden;
  
  .phoneViewport
  {
    position: relative;
    height: 416px;
    top:0px;
    z-index: 1;

    @include transition(all 0.3s ease-in-out);
    @include backface-visibility(hidden);

    .phoneTopNav
    {
      width:320px;
      height: 30px;
      position:absolute;
      top:0px;
      left:0px;
      background-color: $userProfileBannerGradientTop;
      @include gradient-vertical($phoneTopNavGradientTop, $phoneTopNavGradientBottom);
    }
    
    .phoneContent
    {
      width:320px;
      height: 346px;
      position: absolute;
      top: 30px;
      overflow: auto;
      background-color: $navBackgroundColor;
    }
  }
}
