<% if aWatchSiteList.any? %>
  <% aWatchSiteList.each do |aWatchSite| %>
    <%= render partial: "partials/watch_site_venues/venue", locals: { aVenue: aWatchSite.venue }%>
  <% end %>
<% else %>
  <div class="noVenues">
    <span>No Venues found for <%= aLocationString %></span>
  </div>
<% end %>


