@import "bootstrap/variables";
@import "partials/colors";

footer 
{
  padding:40px 0px 0px 0px;
  
  nav
  {
    div
    {
      clear:both;
    }
    
    .copyright
    {
      color: $borderColor;
    }
    
    .links
    {
      border-top: 1px solid $borderColor;
      padding-top: 5px;
    }
    
    ul 
    {
      list-style: none;
      margin:5px 0px;
            
      #twitter_follow
      {
        float:right;
      }
      
      #facebook_like
      {
        width: 87px;
        overflow: hidden;
        float:left;
      }
      
      .about_nav
      {
        float:left;
        margin-right: 10px;
      }
    }
  }
  
}
