@import "partials/colors";
@import "bootstrap/mixins";

div#myMediaSlider
{
  height: 150px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-top: $fanzoneBorder solid 1px;
  border-bottom: $fanzoneBorder solid 1px;
  
  div#myMediaTemplate
  {
    display:none;
  }
  
  div.mediaThumbnail
  {
    float:left;
    position:relative;
    
    .bingNewsItem
    {
      height: 150px;
      width: 200px;
      padding: 10px;
      color: white;
      background-color: black;
      
      h3
      {
        font-size: 16px;
        line-height: 23px;
        color:white;
      }
    }
  }
  
  div#myMediaControls
  {
    .outer
    {
      position:absolute;
      top: 50px;
      width:0px;
      height:0px;
      padding:0px;
      margin:0px;
      -webkit-background-clip: padding-box; /* for Safari */
      background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
      z-index: 1;
      border-top: transparent solid 30px;
      border-bottom: transparent solid 30px;
    }

    .innerControl
    {
      position:absolute;
      top: -28px;
      left: 3px;
      width:0px;
      height:0px;
      padding:0px;
      margin:0px;
      -webkit-background-clip: padding-box; /* for Safari */
      background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
      border-top: transparent solid 28px;
      border-bottom: transparent solid 28px;      
    }

    #navigate_backward
    {
      right: 15px;
      border-left: 50px solid white;
      border-left: 50px solid rgba(255, 255, 255, .9);
      
      .innerControl
      {
        left: -49px;
        border-left: 46px solid $fanzoButtonBackground;
        border-left: 46px solid rgba(223, 53, 7, .9);
      }
    }

    #navigate_forward
    {
      left: 15px;
      border-right: 50px solid white;
      border-right: 50px solid rgba(255, 255, 255, .9);

      .innerControl
      {
        border-right: 46px solid $fanzoButtonBackground;
        border-right: 46px solid rgba(223, 53, 7, .9);
      }
    }
  }
  
  div#myMediaContent
  {
    position:absolute;
    width: 3000px;
  }
  
}

div#myMediaModal 
{
  top: 0px;
  margin: 0px;
  width:670px;

  .modal-header 
  {
    height: 27px;
    width: 640px;
    
    h3
    {
      float: left;
      width: 580px;
      height: 27px;
      overflow: hidden;
    }
    .profile_pic
    {
      padding-right: 10px;
    }
  }
  
  .modal-body
  {
    clear: both;
    max-height: inherit;
    width: 640px;
    
    .mediaImage
    {
      width: 640px;
      text-align:center;
    }
    .mediaCaption
    {
      width: 640px;
      text-align: center;
      margin-top: 10px;
      
      .bingNews
      {
        text-align: left;
        
        h4
        {
          margin-bottom: 10px;
        }
      }
    }
  }
  
  .modal-footer
  {
    .fanzoButton
    {
      margin-left: 15px;
    }
  }
}
