@import "partials/colors";
@import "bootstrap/mixins";

#welcome
{
  position:relative;
  margin-left: 15px;
  padding: 20px 40px 30px 30px;
  background-color: $welcomeBackgroundColor;
  background-image: asset-url("white-gradient-140.png", image);
  background-repeat: repeat-x;
  
  h1
  {
    color:white;
    padding-bottom: 10px;
  }
  
  h2
  {
    color:white;
    font-weight: normal;
    
    a
    {
      color:white;
      text-decoration:underline;
      
      &:hover
      {
        color:white;
      }
    }
  }
  
  .welcomeMessage
  {
    text-align: center;
  }
  
  .horn
  {
    position:absolute;
    right: 0px;
    bottom: 0px;
  }

  .searchOrCreate
  {
    width: 510px;
    margin: 0px auto;
    
    .teamSearch
    {
      padding-top: 20px;
      width: 220px;
      position: relative;
      form
      {
        padding:0px;
        margin:0px;
        
        #team
        {
          font-size: 18px;
          line-height: 20px;
          width: 100%;
          padding-left: 25px;
          height:40px;
          @include border-radius(20px);
        }
      }
      
      i
      {
        position:absolute;
        left: 5px;
        top: 33px;
        opacity: 0.5;
      }
    }
    
    .or
    {
      padding-top: 20px;
      width: 30px;
      text-align: center;
    }

    .createFanzone
    {
      padding-top: 20px;
      margin:0px;
      width: 220px;
      
      a
      {
        .fanzoButton
        {
          margin-top:1px;
          text-align: center;
          font-size: 18px;
          font-weight: normal;
          line-height: 20px;
          padding-top: 8px;
          height: 27px;
          border: 1px solid white;
          position: relative;
          
          span
          {
            position:absolute;
            left: 10px;
            font-size: 20px;
            font-weight: bold;
          }
        }
      }
    }  
  }

}
