@import "partials/colors";
@import "partials/mixins";

#welcome
{
  position:relative;
  margin: 0px 30px 20px 30px;
  background-color: $welcomeBackgroundColor;
  background-image: asset-url("white-gradient-140.png", image);
  background-repeat: repeat-x;
  
  .welcomeContent
  {
    padding: 20px 40px 30px 30px;
    background-image: asset-url("fanzo-horn-bg.png", image);
    background-position: right bottom;
    background-repeat: no-repeat;
  }
  
  h2
  {
    color:white;
    font-weight: normal;
  }
  
  .welcomeMessage
  {
    text-align: center;
  
    .or
    {
      color: white;
      font-weight: bold;
    }
  
    .teamSearch
    {
      padding-top: 5px;
      width: 320px;
      margin: 0 auto;

      h2
      {
        float:left;
      }
      
      .searchControl
      {
        margin-left: 100px;
        width: 220px;
        position: relative;
        
        form
        {
          padding:0px;
          margin:0px;
          
          #team
          {
            font-size: 18px;
            line-height: 20px;
            width: 100%;
            padding-left: 25px;
            height:40px;
            @include border-radius-with-ie(20px);
            -pie-background: 1;
          }
        }
        
        i
        {
          position:absolute;
          left: 5px;
          top: 13px;
          opacity: 0.5;
        }
        
        i.icon-remove
        {
          cursor:pointer;
          left:inherit;
          right: 5px;
        }
      }
    }  
  }
}
