@import "partials/mixins";
@import "partials/colors";

.fanzoButton
{
  padding: 5px 10px;
  margin:0px;
  display: block;

  color: $fanzoButtonText;
  border: $fanzoButtonBorder solid 2px;
  background-color: $fanzoButtonBackground;
  @include gradient-vertical($fanzoButtonBackgroundTopGradient, $fanzoButtonBackgroundBottomGradient);
  @include border-radius(4px);
  @include box-shadow(none);

  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;  
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  vertical-align:inherit;
  
  &:hover
  {
    text-decoration:none;
    color:$fanzoButtonText;
  }
}
