<button class="fanzoButton quickTweetButton" data-toggle="dropdown">
  <div class="drop_arrow"></div>
</button>
<ul class="dropdown-menu pull-right">
  <li class="sectionHeader"><strong>Booyah!!</strong></li>
  <div class="happy">
    <li><p></p></li>
  </div>
  <li class="divider"></li>
  <li class="sectionHeader"><strong>What!?!?</strong></li>
  <div class="sad">
    <li><p></p></li>
  </div>
</ul>         
