@import "partials/colors";
@import "bootstrap/mixins";

div#myCreateFanzoneModal
{
  width: 920px;
  left: 10%;
  
  .modal-header
  {
    text-align:center;

    h2
    {
      color: $createFanzoneHeader;
      font-weight:normal;
    }
  }
  
  form#new_tailgate
  {
    margin:0px;
    clear: both;

  
    .modal-footer
    {
      padding:10px;
    }
    
    .modal-body
    {
      margin:0px;
      padding:0px;
      width:920px;
      max-height:700px;
      
      .row
      {
        padding:0px;
        margin:0px;
        width:920px;
        border-top: $createFanzoneTopBorder solid 1px;
        border-bottom: $createFanzoneBottomBorder solid 1px;
        position:relative;
        
        input, select
        {
          @include box-shadow(none);
          @include border-radius(0);
          height:30px;
        }
        
        [class*='span']
        {
          margin:0px;
          padding:15px;
        }
        
        .span3
        {
          width:200px;
        }
        
        .span6
        {
          width:410px;
        }
        
        .fanzoneLabel
        {
          position:absolute;
          top:0;
          bottom:0;
          background-color: $createFanzoneLabelBackground;
          text-align:right;
          
          h4
          {
            font-weight:normal;
          }
        }
        
        .fanzoneFields
        {
          padding-left:245px;
        }
        
        .fanzoneExamples
        {
          h5
          {
            font-weight:normal;
          }
          
          li
          {
            list-style-type: circle;
          }
        }
      }
    }
    
    div#colorPicker
    {
      .color
      {
        border: $borderColor solid 1px;
        width:25px;
        height:25px;
        float:left;
        margin:5px;
      }
      
      .selected
      {
        border: $selectedBorder solid 3px;
        margin: 3px;
      }
    }    
  }
}
