@import "partials/colors";
@import "bootstrap/mixins";

#createFanzoneTile
{
  margin:0px;
  margin-left: 18px;
  margin-bottom: 20px;
  width: 220px;
  height: 299px;
  border-top: 1px solid $borderColor;
  @include box-shadow( 0 1px 2px rgba(25, 25, 25, 0.5) );
  float: left;
  text-align:center;
  
  h2
  {
    padding: 10px;
    color: inherit;
    font-size: 1.5em;
    line-spacing: 0px;
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 10px;
  }

}
