@import "partials/colors";
@import "bootstrap/mixins";

div.fanzoneTile
{
  margin:0px;
  margin-bottom: 20px;
  margin-left: 18px;
  width: 220px;
  height: 300px;
  float: left;
  @include box-shadow( 0 1px 2px rgba(25, 25, 25, 0.5) );

  .banner
  {
    background-color: #002A5C;
    cursor: pointer;
    position:relative;
    height: 50px;
    
    .official
    {
      position:absolute;
      top: 0px;
      left: 0px;
      margin-left: 50px;
      padding-left: 5px;
      width:165px;
      height:10px;
      line-height:8px;
      z-index: 50;
      @include gradient-horizontal($officialBadgeGradientBeginColor, $officialBadgeGradientEndColor);
      
      span
      {
        height:10px;
        line-height:8px;
        font-size:9px;
        text-transform: uppercase;
        color: $officialTextColor;
      }
    }
    
    
    .banner_content
    {
      .team_logo
      {
        float:left;
        height: 49px;
        width: 49px;
        background-color: $fanzoneBannerLogoBackground;
        border-top: 1px solid $borderColor;
        border-right: 1px solid $borderColor;
        
        img
        {
          margin-left:9px;
          margin-top:9px;
          width: 32px;
          height: 32px;
        }
      }

      .fanzone_name
      {
        position:relative;
        background-image: asset-url("white-gradient-50.png", image);
        background-repeat: repeat-x;
        float:left;
        padding-top:15px;
        height: 35px;
        width: 170px;
        h3
        {
          font-size: 1em;
          line-height: 1.3em;
          color: white;
          padding-left: 3%;
        }
      }
    }
    
  }
  

  .content
  {
    font-size: 11.5px;
    background: white;
    border-top: 1px solid $borderColor; 
    clear: both;
    height: 249px;
    
    .posts
    { 
      height: 223px;
      overflow: hidden;
      
      .post 
      {
        clear:both;
        
        .profile_pic
        {
          padding:8px;
          vertical-align: top;
        }
        
        .post_content
        {
          padding: 5px 8px 0px 48px;
          vertical-align: top;
        }
      }
    }
    
    .stats
    {
      padding: 2px 5px;
      height: 20px;
      border-top: #F3F3F3 solid 1px;
      border-bottom: #F3F3F3 solid 1px;
      font-size: 10px;
      color: #888;
         
      .lastUpdateDate
      {
        float:right;
      }
    }
    
  }
}

