@import "partials/colors";
@import "bootstrap/mixins";

div.fanzoneTile
{
  margin-bottom: 20px;

  .banner
  {
    border: #607691 solid 1px;
    border-bottom-width: 0px;

    background-color: #002A5C;
    height: 80px;
    cursor: pointer;
    
    .banner_content
    {
      padding: 0px 10px;
      clear: both;

      .team_logo
      {
        float:left;
        margin-top: -5px;
        margin-right: 10px;
        @include gradient-vertical(#FFFFFF, #E5E5E5);  
        @include border-radius(50%);
        padding: 10px;
        
        img
        {
          width: 32px;
          height: 32px;
        }
      }
        
      h3
      {
        font-size: 1em;
        line-height: 1.3em;
        color: white;
      }
    }
    
  }

  .content
  {
    background: white;
    height:220px;
    border: 1px solid #ccc;     
    
    .posts
    { 
      height:198px; 
      padding: 5px;
      overflow: hidden;
      
      .post 
      {
        .profile_pic
        {
          width:32px;
          height:32px;
          padding:8px;
          vertical-align: top;
        }
        
        .post_content
        {
          padding: 5px 8px 0px 0px;
          vertical-align: top;
        }
      }
    }
    
    .stats
    {
      padding: 0px 5px;
      height: 20px;
      border-top: #F3F3F3 solid 1px;
      border-bottom: #F3F3F3 solid 1px;
      font-size: 11px;
      color: #888;
         
      .numFollowers
      {
        
      }
      
      .lastUpdateDate
      {
        float:right;
      }
    }
    
  }
}

