.fanzoneTile
{
  border: #CCCCCC solid 1px;
  margin-bottom: 20px;
  
  .banner
  {
    background: #002A5C;
    height: 30px;
    padding: 5px;
      
    h3
    {
      color: white;
    }
  }

  .content
  {
    background: white;
    height:220px; 
    
    .posts
    { 
      height:180px; 
      padding: 5px;
      
      .post 
      {
      
      }
    }
    
    .stats
    {
      padding: 5px;
      height: 20px;
      border-top: #F3F3F3 solid 1px;
      border-bottom: #F3F3F3 solid 1px;
       
      .numFollowers
      {
        
      }
      
      .lastUpdateDate
      {
        float:right;
      }
    }
    
  }
}

