@import "partials/colors";
@import "bootstrap/mixins";

.join_fanzone
{
  position: absolute;
  top: -10px;
  right: 0px;
  height: 20px;
  z-index: 100;
  
  form
  {
    margin:0px;
    padding:0px;
    height: 19px;
  }
  
  .follow_button
  {
    border-right-width: 0px;
    border-top-width: 0px;
  }
}

.myFanzone
{
  position: absolute;
  z-index: 100;
  top: -2px;
  right: -3px;
  width:0px;
  height:0px;
  margin:0px;
  padding:0px;
  border-bottom: #788DA6 solid 20px;
  border-right: #F0F0F0 solid 20px;
}
