@import "partials/colors";
@import "bootstrap/mixins";

.join_fanzone
{
  float:right;
  height: 20px;
  
  form
  {
    margin:0px;
    padding:0px;
    height: 19px;
  }
  
  .follow_button
  {
    border-right-width: 0px;
    border-top-width: 0px;
  }
  
  .myFanzone
  {
    float:right;
    width:0px;
    height:0px;
    margin: 0px -1px 0px 0px;
    padding:0px;
    border-bottom: #788DA6 solid 20px;
    border-right: #F0F0F0 solid 20px;
  }
}
