@import "bootstrap/variables";
@import "partials/colors";

footer 
{
  padding-top: 5px;
  color: $grayLight;
  
  nav
  {
    padding-top: 5px;
    
    ul 
    {
      float: right;
      list-style: none;
      li 
      {
        float: left;
        margin-left: 10px;
        a 
        {
          color: $gray;
          &:hover 
          { 
            color: $grayDarker;
          }
        } 
      }
    }
  }
  
}
