@import "bootstrap/variables";
@import "partials/colors";

footer 
{
  padding:5px;
  color: white;
  background-color: #CCCCCC;
  
  nav
  {
    div
    {
      clear:both;
      text-align: center;
    }
    
    a
    {
      color: white;
      
      &:hover
      {
        color:white;
      }
    }
    
    ul 
    {
      list-style: none;
      margin:0px;
      
      li 
      {
        a 
        {
          color: $gray;
          &:hover 
          { 
            color: $grayDarker;
          }
        } 
      }
      
      #twitter_follow
      {
        float:right;
      }
      
      #facebook_like
      {
        float:left;
      }
      
      .about_nav
      {
        float:left;
        margin-right: 10px;
      }
    }
  }
  
}
