@import "partials/colors";
@import "bootstrap/mixins";

nav#left_nav
{
  padding-top: 20px;
  position: fixed;
  width: 250px;
  
  div#account
  {
    width: 40%;

    #account_content
    {
      height: 15px;
      float:left;
      background-color: $navLoginBackground;
      text-transform: uppercase;
      font-weight: bold;
      padding: 2px 20px;
      border-left: $borderColor solid 1px;
      border-top: $borderColor solid 1px;
      
      a
      {
        color: black;
        
        &:hover
        {
          background-color: inherit;
        }
      }
    }
    
    #tab
    {
      float:left;
      position: relative;
      
      #tab_inner
      {
        position: absolute;
        left: 0px;
        top: 1px;
        z-index: 10;
        width:0px;
        height:0px;
        padding:0px;
        border-bottom: $navLoginBackground solid 19px;
        border-right: transparent solid 20px;
      }
      
      #tab_border
      {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 0;
        width:0px;
        height:0px;
        padding:0px;
        border-bottom: $borderColor solid 20px;
        border-right: transparent solid 20px;
      }
    }
    
  }
  
  div#fanzone_nav
  {
    li
    {
      clear:both;
      background-color: $navBackgroundColor;
      margin: 0;
      
      a
      {
        color:$navTextColor;
        border-bottom-color: $navBorderColorBottom;
        border-top-color: $navBorderColorTop;
        text-align:center;
        font-weight:bold;
        padding:10px;

        &:hover
        {
          background-color: inherit;
        }
      }
      
    }
    
    .fanzone
    {
      
      a
      {
        height: 42px;
        text-align: left;
        font-weight:normal;
        padding:0px;
        
        .team_logo
        {
          padding: 5px 10px;
          
          img
          {
            width:32px;
            height:32px;
          }
        }
        
        .myFanzone
        {
          float:right;
          width:0px;
          height:0px;
          margin:0px -1px 0px 0px;
          padding:0px;
          border-bottom: #CCCCCC solid 20px;
          border-right: #F0F0F0 solid 20px;
        }
        
        .fanzone_name
        {
          width: 175px;
          height: 40px;
          overflow: hidden;
          position: relative;
          span
          {
            display:block;
            position:absolute; 
            top:0; 
            bottom:0; 
            left:0; 
            right:0;
            margin:auto; 
          }
        }
      }
    }
  
    .nav-tabs.nav-stacked > li
    {
       &:last-child > a, &:first-child > a
       {
          @include border-radius(0);
       }
    }
  
    .nav-tabs > .active > a
    {
      color: $navActiveTextColor;
      background-color: $navActiveBackgroundColor;
    }
    
    #allFanzones
    {
      text-transform: uppercase;
      
      #fanzone_search
      {
        border-left: $borderColor solid 1px;
        border-right: $borderColor solid 1px;
        form
        {
          padding:10px;
          margin:0px;
          .search_input
          {
            height:30px;
            @include border-radius(15px);
          }
        }
      }
    }
    
    #myFanzones
    {
      a 
      {
        text-align:left;
        div
        {
          width:32px;
          float: left;
          margin-right: 10px;
          margin-top: -7px;
        }
        span
        {
          text-transform:uppercase;
        }
      }
    }
    
    #createFanzone
    {
      background-color: black;
      text-transform: uppercase;
      
      a
      {
        border-top-width:0px;
        border-bottom-width:0px;
        padding-bottom: 20px;

        .create
        {
          color: black;
          background-color: $createFanzoneButtonBackground;
          border: $createFanzoneButtonBorder solid 1px;
          padding: 3px 8px;
        }
      }
    }
  
    
    #logo 
    {
      color:white;
      background-color: black;
      
      a
      {
        border-bottom-width:0px;
        padding: 0px;
        
        div
        {
          padding: 20px 0px 10px 0px;
          color:white;
          
          .brand
          {
            font-weight: bold;
            font-size: 3em;
          }
          
          .tld
          {
            font-size: 2em;
          }
          
          .tagline
          {
            padding-top:10px;
            padding-left:3px;
            color: grey;
            font-size: 1.85em;
            letter-spacing: 1px;  
          }
        }
      }
    }
  }
    
}

