@import "partials/colors";
@import "bootstrap/mixins";

#left_nav
{
  position: fixed;
  width: 220px;
  
  div#account
  {
    #account_content
    {
      height: 32px;
      float:left;
      background-color: $navLoginBackground;
      text-transform: uppercase;
      font-weight: bold;
      border-left: $borderColor solid 1px;
      border-top: $borderColor solid 1px;
      
      a
      {
        color: $navAccountLoginTextColor;
        
        &:hover
        {
          background-color: inherit;
        }
      }
      
      .dropdown-menu
      {
        margin-top: 30px;
        
        a
        {
          color: black;
        }
      }
      
      .login
      {
        padding: 8px;
      }
      
      #users_name
      {
        div
        {
          float:left;
        }
        
        div.drop_arrow
        {
          margin:12px;
        }
        
        div.name
        {
          padding: 8px;
          padding-right: 0px;
        }
      }
    }
  }
  
  div#fanzone_nav
  {
    ul
    {
      margin:0px;
    }
    
    li
    {
      clear:both;
      background-color: $navBackgroundColor;
      margin: 0;
      
      a
      {
        border: none;
        border-top: 1px solid $navBorderColorBottom;
        color:$navLinkTextColor;
        font-weight:bold;
        padding:10px;

        &:hover
        {
          background-color: inherit;
        }
      }
      
    }
    
    #logo 
    {
      color:white;
      background-color: $backgroundColor;
      
      a
      {
        border: none;
        padding: 0px;
        
        div
        {
          padding: 30px 0px 10px 0px;
          
          .tagline
          {
            padding-top:10px;
            padding-left:3px;
            color: $navTaglineColor;
            font-size: 1.65em;
            letter-spacing: 1px;
            text-transform: uppercase;
          }
        }
      }
    }

    #fanzone_search
    {
      position: relative;
      form
      {
        padding:20px 0px;
        margin:0px;
        
        #team
        {
          width: 100%;
          padding-left: 25px;
          height:30px;
          @include border-radius(15px);
        }
      }
      
      i
      {
        position:absolute;
        left: 5px;
        top: 28px;
        opacity: 0.5;
      }
    }
    
    #allFanzones, #myFanzones
    {
      a
      {
        padding: 7px 5px;

        i
        {
          display: block;
          width: 20px;
          height: 20px;
          margin: 0px 10px 0px 6px;
        }
        
        p
        {
          margin: 0px;
          text-transform:uppercase;
        }
      }
    }

    
    #allFanzones
    {
      a
      {
        i
        {
          background: asset-url("fanzo-icons.png", image) 0px -20px no-repeat;
        }
      }
    }
    
    #myFanzones
    {
      i
      {
        background: asset-url("fanzo-icons.png", image) -20px -20px no-repeat;
      }
    }
    
    #createFanzone
    {
      background-color: $backgroundColor;
      text-transform: uppercase;
      text-align: center;
    }

    .fanzone
    {
      
      a
      {
        height: 42px;
        font-weight:normal;
        padding:0px;
        
        .team_logo
        {
          padding: 5px;
          
          img
          {
            width:32px;
            height:32px;
          }
        }
        
        .fanzone_name
        {
          width: 175px;
          height: 40px;
          overflow: hidden;
          position: relative;
          span
          {
            display:block;
            position:absolute; 
            top:0; 
            bottom:0; 
            left:0; 
            right:0;
            margin:auto; 
          }
        }
      }
    }
  
    .nav-tabs.nav-stacked > li
    {
       &:last-child > a, &:first-child > a
       {
          @include border-radius(0);
       }
    }
  
    .nav-tabs > .active > a
    {
      color: $navActiveTextColor;
      background-color: $navActiveBackgroundColor;
      @include box-shadow(inset 0px 5px 5px $navBorderColorBottom);
      @include border-radius(2px 2px 0px 0px);
    }
    
  }
    
}

