@import "partials/colors";
@import "bootstrap/mixins";

div#myMediaSlider
{
  height: 150px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border: $fanzoneBorder solid 1px;
  
  div#myMediaTemplate
  {
    display:none;
  }
  
  div.mediaThumbnail
  {
    float:left;
    position:relative;
    
    .playButtonBackground
    {
      position:absolute;
      top: 30px;
      left: 45px;
      width: 100px;
      height: 100px;
      border: 2px solid rgb(127, 127, 127);
      border: 2px solid rgba(255, 255, 255, .9);
      background: rgb(64, 64, 64);
      background: rgba(127, 127, 127, .7);
      @include border-radius(50%);
        
      .playButton
      {
        position:absolute;
        top: 30px;
        left: 35px;
        width:0px;
        height:0px;
        padding:0px;
        margin:0px;
        border-left: 40px solid rgb(127, 127, 127);
        border-left: 40px solid rgba(255, 255, 255, .9);
        -webkit-background-clip: padding-box; /* for Safari */
        background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
        border-top: transparent solid 20px;
        border-bottom: transparent solid 20px;
      }
    }
    
  }
  
  div#myMediaContent
  {
    position:absolute;
    width: 3000px;
  }
  
}

div#myVideoModal 
{
  width:680px;
}

div#myInstagramModal 
{
  top: 0px;
  margin: 0px;

  .modal-header 
  {
    height: 27px;
    
    h3
    {
      float: left;
    }
    .profile_pic
    {
      padding-right: 10px;
    }
  }
  
  .modal-body
  {
    clear: both;
    
    .instagramImage
    {
      width: 306px;
      margin: 0px auto;
    }
    .instagramCaption
    {
      margin-top: 10px;
      text-align: center;
    }
  }
}
