div#myMediaSlider
{
  height: 150px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  
  div#myMediaTemplate
  {
    display:none;
  }
  
  div.mediaThumbnail
  {
    float:left;
  }
  
  div#myMediaContent
  {
    position:absolute;
    width: 3000px;
  }
  
}

div#myVideoModal 
{
  width:680px;
}

div#myInstagramModal 
{
  width: 640px;
  height: 746px;
  top: 0px;
  margin: 0px;

  .modal-header 
  {
    height: 27px;
    
    h3
    {
      float: left;
    }
    img
    {
      float:left;
      padding-right: 10px;
    }
  }
  
  .modal-body
  {
    clear: both;
    max-height: 612px;
    height: 612px;
  }
}
