@import "partials/colors";
@import "bootstrap/mixins";

div#myMediaSlider
{
  height: 150px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-top: $fanzoneBorder solid 1px;
  border-bottom: $fanzoneBorder solid 1px;
  
  div#myMediaTemplate
  {
    display:none;
  }
  
  div.mediaThumbnail
  {
    float:left;
    position:relative;
  }
  
  div#myMediaControls
  {
    div
    {
      position:absolute;
      top: 50px;
      width:0px;
      height:0px;
      padding:0px;
      margin:0px;
      -webkit-background-clip: padding-box; /* for Safari */
      background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
      z-index: 1;
      border-top: transparent solid 30px;
      border-bottom: transparent solid 30px;
    }

    #navigate_backward
    {
      right: 15px;
      border-left: 50px solid $fanzoButtonBackground;
      border-left: 50px solid rgba(223, 53, 7, .9);
    }

    #navigate_forward
    {
      left: 15px;
      border-right: 50px solid $fanzoButtonBackground;
      border-right: 50px solid rgba(223, 53, 7, .9);
    }
  }
  
  div#myMediaContent
  {
    position:absolute;
    width: 3000px;
  }
  
}

div#myVideoModal 
{
  width:680px;
  
  .modal-footer
  {
    .fanzoButton
    {
      margin-left: 15px;
    }
  }  
}

div#myInstagramModal 
{
  top: 0px;
  margin: 0px;
  max-width:680px;

  .modal-header 
  {
    height: 27px;
    
    h3
    {
      float: left;
    }
    .profile_pic
    {
      padding-right: 10px;
    }
  }
  
  .modal-body
  {
    clear: both;
    
    .instagramImage
    {
      width: 306px;
      margin: 0px auto;
    }
    .instagramCaption
    {
      margin-top: 10px;
      text-align: center;
    }
  }
  
  .modal-footer
  {
    .fanzoButton
    {
      margin-left: 15px;
    }
  }
}
