<div class="row-fluid">
  <div class="span4 fanzoneTile">
    <div class="banner">
      <h3>howdy</h3>
    </div>
    <div class="content">
      <div class="posts">
        <div class="post">
          And so there.
        </div>
      </div>
      <div class="stats">
          23 likes
      </div>
    </div>
  </div>

  <div class="span4 fanzoneTile"></div>

  <div class="span4 fanzoneTile"></div>
</div>
