@import "partials/colors";

#tweetTemplate
{
  display:none;
}

.tweet
{
  padding:10px;
  border-bottom: $fanzoneLightBorder solid 1px;
  overflow: hidden;

  .tweetContent
  {
    margin-left: 42px;
    .timestamp
    {
      margin-top: -2px;
      color: $lightTextColor;
      float: right; 
    }
  
    .twitterName
    {
      line-height: 1em;
      margin-bottom: 3px;
    }

    .tweetMenu
    {
      .twitterActions
      {
        span
        {
          cursor: pointer;
          color: $linkColor;
          padding: 5px;
          
          &:first-child
          {
            padding-left:0px;
          }
          
          &:hover
          {
            color: $linkHoverColor;
          }
        }
      }
    }
  }
}
