@import "partials/colors";

#tweetHolder
{
  position: relative;
  clear:both;

  #newTweets
  {
    cursor: pointer;
  }
  
  .tweetContent
  {
    .twitterName
    {
      font-family: 'League Gothic',Helvetica,Arial,Verdana,sans-serif;
      letter-spacing: 0.03em;
      font-size: 1.5em;
      text-transform: uppercase;
      color: $mediumTextColor;
    }

    .twitterText
    {
      color: $lightTextColor;
    }
  }

}

#newTweets, #twitterInviteSuccessAlert, #tweetError
{
  margin:0px;
  text-align: center;
  border-radius: 0;
  
  p
  {
    margin:0px;
  }
}



