@import "bootstrap/variables";

$grayMediumLight: #eaeaea;
$navyBlue: #000066;
$darkBlue: #000099;

$borderColor: #B1B5BD;
$navTextColor: #333333;
$navBackgroundColor: white;
$navBorderColorBottom: #CBD0D9;
$navBorderColorTop: #C3C7D0;
    
$navActiveBackgroundColor: #3366CC;
$navActiveBorderColorRightLeft: #3366CC;
$navActiveBorderColorTopBottom: #2F5EBC;
$navActiveTextColor: white;

$joinBackground: #E0EBCC;
$joinBorder: #999999;

$ownerText: #999999;
