@import "bootstrap/variables";

$grayMediumLight: #eaeaea;
$navyBlue: #000066;
$darkBlue: #000099;

$borderColor: #CCCCCC;
$background: #F0F0F0;

$navLoginBackground: #E0EBCC;
$navTextColor: #333333;
$navBackgroundColor: white;
$navBorderColorBottom: #EEEEEE;
$navBorderColorTop: #DDDDDD;
    
$navActiveBackgroundColor: #3366CC;
$navActiveBorderColorRightLeft: #3366CC;
$navActiveBorderColorTopBottom: #2F5EBC;
$navActiveTextColor: white;

$createFanzoneButtonBackground: #E0EBCC;
$createFanzoneButtonBorder: #A6AE99;

$joinBackground: #E0EBCC;
$joinBorder: #999999;

$fanzoneBorder: #999999;
$fanzoneBackground: #F5F7FC;
$fanzoneLightBorder: #EEEEEE;
$fanzoneHeaderText: #666666;
$ownerText: #999999;
$linkColor: #003399;

$selectedBorder: #3366CC;