@import "bootstrap/variables";

$h1: #000066;
$h2-3: #000099;

$borderColor: #CCCCCC;
$background: #F0F0F0;

$dropArrow: white;

$navLoginBackground: #F70000;

$navLinkTextColor: #333333;
$navBackgroundColor: #F0F0F0;

$navBorderColorBottom: #CCCCCC;

$navAccountLoginTextColor: white;
    
$navActiveBackgroundColor: #E9E9E9;
$navActiveTextColor: #F70000;

$navTaglineColor: #CCCCCC;

$fanzoButtonText: white;
$fanzoButtonBackground: #F70000;
$fanzoButtonBorder: #F73300;

$fanzoneBorder: #CCCCCC;
$fanzoneBackground: #EEEEEE;
$fanzoneLightBorder: #EEEEEE;
$fanzoneHeaderText: #666666;
$fanzoneBannerLogoBackground: white;
$fanzoneContentBackground: white;

$postButtonBorder: #F73300;

$ownerText: white;
$linkColor: #F70000;

$selectedBorder: #3366CC;

$createFanzoneHeader: #333333;
$createFanzoneBottomBorder: #F1F1F1;
$createFanzoneTopBorder: #DDDDDD; 
$createFanzoneLabelBackground: #F7F7F7;