@import "partials/colors";
@import "partials/mixins";

.pullDown, .pullUp 
{
  background:#fff;
  height:40px;
  line-height:40px;
  padding:5px 10px;
  border-bottom:1px solid #ccc;
  font-weight:bold;
  font-size:14px;
  color:#888;
}

.pullDown .pullDownIcon, .pullUp .pullUpIcon  
{
  display:block; float:left;
  width:40px; height:40px;
  background: asset-url("pull-icon@2x.png", image) 0 0 no-repeat;
  @include background-size(40px 80px);

  -webkit-transition-property:-webkit-transform;
  -moz-transition-property:-moz-transform;
  -ms-transition-property:-ms-transform;
  -o-transition-property:-o-transform;
  transition-property:transform;
  
  @include transition-duration(250ms);  
}

.pullDown .pullDownIcon 
{
  @include rotate3d(0,0,0,0deg);
}

.pullUp .pullUpIcon  
{
  @include rotate3d(0,0,0,-180deg);
}

.pullDown.flip .pullDownIcon 
{
  @include rotate3d(0,0,0,-180deg);
}

.pullUp.flip .pullUpIcon 
{
  @include rotate3d(0,0,0,0deg);
}

.pullDown.loading .pullDownIcon, .pullUp.loading .pullUpIcon 
{
  background-position:0 100%;
  @include rotate3d(0,0,0,0deg);
  @include transition-duration(0ms);
  @include animation(loading, 2s, linear, 0s, infinite, normal)
}

@-webkit-keyframes loading 
{
  from { -webkit-transform:rotate(0deg) translateZ(0); }
  to { -webkit-transform:rotate(360deg) translateZ(0); }
}

@-moz-keyframes mymove /* Firefox */
{
  from { -moz-transform:rotate(0deg) translateZ(0); }
  to { -moz-transform:rotate(360deg) translateZ(0); }
}

@-o-keyframes mymove /* Opera */
{
  from { -o-transform:rotate(0deg) translateZ(0); }
  to { -o-transform:rotate(360deg) translateZ(0); }
}

@keyframes mymove
{
  from { transform:rotate(0deg) translateZ(0); }
  to { transform:rotate(360deg) translateZ(0); }
}
