// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#homeTweetControls textarea
{
  float:left;
}

#homeTweetControls div.btn-group
{
  float:left;
}

#visitingTweetControls textarea
{
  float:left;
}

#visitingTweetControls div.btn-group
{
  float:left;
}
