@import "partials/colors";
@import "partials/mixins";

.tailgateBuffer
{
  padding: 0px 40px;
}

div#tailgate_show
{

  div.tailgate_content
  {
    @include box-shadow-with-ie( #{"-1px 2px 3px 1px rgba(25, 25, 25, .1), 1px 2px 3px 1px rgba(25, 25, 25, .1)"} );
             
    div.banner
    {
      @include border-radius(4px 4px 0px 0px);
      background-image: asset-url("white-gradient-140.png", image);
      background-repeat: repeat-x;
      background-color: black;
      position:relative;
      
      .join_fanzone
      {
        top: -8px;
      }
  
      div.banner_content
      {
        position:relative;
        height: 140px;
        color: $fanzoneBannerTextColor;
        background-image: asset-url("fanzo-horn-bg.png", image);
        background-position: 80% 100%;
        background-repeat: no-repeat;
  
        div.team_logo
        {
          position:relative;
          float:left;
          margin:10px;
          padding: 5px;
          background-color: $fanzoneBannerLogoBackground;
          border-top: $fanzoneBorder solid 1px;
          @include border-radius-with-ie(4px);
          
          .reflection
          {
            position:absolute;
            left:0px;
            top:0px;
          }
        }
        
        div.fanzone_details
        {
          padding: 10px;
          
          h1
          {
            color: $fanzoneBannerTextColor;
            font-weight: normal;
            text-transform: uppercase;
            font-size: 4.5em;
            line-height: 1.0em;
          }
          
          .description
          {
            font-size: 14px;
          }
          
        }
        
        .bannerRight
        {
          float: right;
          height: 120px;
          padding: 0px 20px;
          margin: 10px 0px;
          border-left: 1px solid $fanzoneBannerRightLeftBorder;

          .owner
          {
            .owner_details
            {
              float:left;
              padding-left: 10px;
              
              h3 a
              {
                color: $fanzoneBannerTextColor;
              }
            }
            
            .lastUpdated
            {
              clear:both;
              
              p
              {
                margin:0px;
              }
            }
          }
          
          .facebookSharing
          {
            padding-top: 20px;
            clear:both;
  
            .googleButton
            {
              float:left;
              margin-right: 8px;
            }
            
            .tweetThis
            {
              float:left;
              margin-right: 8px;
            }
            
            .fb-like
            {
              float:left;
            }
          }
        }
      }
    }
  
    div#fanzoneContent
    {
      background-color: $fanzoneContentBackground;
      clear: both;
      @include clearfix;
      
      h4
      {
        text-transform: uppercase;
        font-size: 1.8em;
      }
      
      div.leftColumn
      {
        float: left;
        width: 25%;
        
        .fans
        {
          .fanControls
          {
            padding: 10px;
            background-color: $fanzoneHeaderBackground;
            @include clearfix();
            
            .fanzoneState
            {
              float:left;
              padding-top: 10px;
            }
            
            .inviteFans
            {
              float:left;
              padding-top: 10px;
              padding-left: 10px;
            }
          }
          
          .fanList
          {
            margin:0px;
            
            .fanItem
            {
              list-style: none;
              height: 48px;
              padding: 10px 5px 0px 10px;
              @include clearfix();
              
              .profile_pic
              {
                float:left;
                height: 48px;
                width: 48px;
              }
              
              .nameAndPost
              {
                margin-left: 58px;
                
                h5
                {
                  text-transform: uppercase;
                  font-size: 1.5em;
                  color: $mediumTextColor;
                }
                
                span
                {
                  color: $lightTextColor;
                }
              }
              
              &:hover
              {
                h5
                {
                  color: $linkHoverColor;
                }

                span
                {
                  color: $linkHoverColor;
                }
              }
            }
          }
        }
      }
      
      div.rightColumn
      {
        float: left;
        width: 25%;
        
        .twitterStream
        {
          .twitterHeader
          {
            padding: 10px;
            background-color: $fanzoneHeaderBackground;
          }
          
        }
      }
    }
  }
}
