  <div class="social_controls">
    <%= f.hidden_field :twitter_reply_id %>
    <%= f.hidden_field :twitter_retweet_id %>
    <%= f.check_box :twitter_flag %>
    <div class="twitter_check"></div>
    <%= f.check_box :facebook_flag %>
    <div class="facebook_check"></div>    
  </div>
