@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$navyBlue: #000066;
$darkBlue: #000099;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

body
{
  padding-top:60px;
  padding-bottom:40px;
}

h1 
{
  color: $navyBlue;
}

h2, h3
{
  color: $darkBlue;
}

.navbar-inner
{
  @include gradient-vertical($navyBlue, $darkBlue);
}

/* header */

#logo {
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.debug_dump 
{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

input, textarea, select, .uneditable-input 
{
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

.field_with_errors 
{
  @extend .control-group;
  @extend .error;
}

@import "bootstrap-responsive";

@media (max-width: 480px)
{

  .container-fluid
  {
    padding-left: 10px;
    padding-right: 10px;
  }
  .hero-unit
  {
    padding:10px;
    h1
    {
      font-size:30px;
    }
    h2
    {
      font-size: 20px;
      line-height: 22px;
    }
  }
}
