// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tweet
{
  margin: 5px;
}

.timestamp
{
  color: gray;
  margin: 5px 0px;  
}

.tweet > img
{
  margin-right: 10px;
}

.twitterName
{
  font-weight: bold;
}

.twitterAvatar
{
  float:left;
}

.tweetMenu > a
{
  padding: 5px 10px;
}

.modal-body .btn
{
  margin: 5px 3px;
}


.tweetStarterBtn a
{
  float:left;
  width: 120px;
  margin: 5px;
}

#newTweets
{
  margin:5px;
  text-align: center;
  cursor: pointer;
}

#template
{
  display:none;
}

#buttonHolder
{
  margin: 10px 0px;
  height: 40px;
}

#tweetHolder
{
  position: relative;
}

#tweetSuccessAlert
{
  margin:5px;
}


