@import "bootstrap/mixins";
@import "partials/colors";

body
{
  padding-top:40px;
  padding-bottom:40px;
  background-color: $grayLighter;
  font-family: 'Open Sans', sans-serif;  
}

h1 
{
  color: $navyBlue;
}

h2, h3
{
  color: $darkBlue;
}

.debug_dump 
{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing(border-box);
}

input, textarea, select, .uneditable-input 
{
  width: 100%;
  height: auto;
  @include box_sizing(border-box);
}

.field_with_errors 
{
  @extend .control-group;
  @extend .error;
}

.field
{
  margin-bottom:20px;
  label
  {
    font-weight:bold;
  }
}

