@import "bootstrap/mixins";
@import "partials/colors";

body
{
  padding:0px 20px 40px 20px;
  background-color: $backgroundColor;
  background-image: asset-url("fanzo-background-horn.png", image);
  background-repeat: repeat-y;
  background-position: 0px 90px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1.5em;
  min-height: 750px;
}

h1 
{
  color: $header1Color;
}

h2, h3
{
  color: $header2Color;
}

a
{
  color: $linkColor;
  text-decoration: none;
  
  &:hover
  {
    color: $linkColor;
  }
}

.zocial:hover
{
  color: white;
}

.profile_pic
{
  float:left;
  width:32px;
  height:32px;
}

.fanzoButton
{
  color: $fanzoButtonText;
  background-color: $fanzoButtonBackground;
  border: $fanzoButtonBorder solid 1px;
  padding: 2px 10px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;  
  font-size: 12px;
  line-height: 1.5em;
  font-weight: bold;
  margin:0px;
  height: 23px;
  vertical-align:inherit;
  @include border-radius(0);
  @include box-shadow(none);
  
  &:hover
  {
    text-decoration:none;
    color:$fanzoButtonText;
  }
}

.drop_arrow
{
  margin: 0px;
  width:0px;
  height:0px;
  border-top: $dropArrow solid 10px;
  border-left: transparent solid 5px;
  border-right: transparent solid 5px;
}

.debug_dump 
{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing(border-box);
}

input, textarea, select, .uneditable-input 
{
  width: 100%;
  height: auto;
  @include box_sizing(border-box);
}

