@import "bootstrap/mixins";
@import "partials/colors";

body
{
  padding:0px 20px 40px 20px;
  background-color: $background;
  font-family: 'Open Sans', sans-serif;  
  font-size: 12px;
  line-height: 1.5em;
  min-height: 750px;
}

h1 
{
  color: $navyBlue;
}

h2, h3
{
  color: $darkBlue;
}

a
{
  color: $linkColor;
  
  &:hover
  {
    color: $linkColor;
  }
}

.profile_pic
{
  float:left;
  width:32px;
  height:32px;
  
  img
  {
    @include border_radius(5px);
  }
}

.fanzoButton
{
  color: $fanzoButtonText;
  background-color: $fanzoButtonBackground;
  border: $fanzoButtonBorder solid 1px;
  padding: 2px 10px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;  
  font-size: 12px;
  line-height: 1.5em;
  font-weight: bold;
  margin:0px;
  height: 23px;
  vertical-align:inherit;
  @include border-radius(0);
  @include box-shadow(none);
  
  &:hover
  {
    text-decoration:none;
    color:black;
  }
}

.debug_dump 
{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing(border-box);
}

input, textarea, select, .uneditable-input 
{
  width: 100%;
  height: auto;
  @include box_sizing(border-box);
}

.field_with_errors 
{
  @extend .control-group;
  @extend .error;
}

.field
{
  margin-bottom:20px;
  label
  {
    font-weight:bold;
  }
}

