div#myMediaSlider
{
  height: 150px;
  overflow: hidden;
  position: relative;
  
  div#myMediaTemplate
  {
    display:none;
  }
  
  div.mediaThumbnail
  {
    float:left;
  }
  
  div#myMediaContent
  {
    position:absolute;
    width: 3000px;
  }
}
