@import "bootstrap-responsive";

@media (max-width: 480px)
{

  .container-fluid
  {
    padding-left: 10px;
    padding-right: 10px;
  }
  .hero-unit
  {
    padding:10px;
    h1
    {
      font-size:30px;
    }
    h2
    {
      font-size: 20px;
      line-height: 22px;
    }
  }
}
