/* For mobile specific overrides
 * 
 *= require_self
 */

#top_nav
{
  position: absolute;
}

#flash_alerts
{
  position: absolute;
}

#allTiles.row-fluid
{
  width:auto;
}

div#frameContent div#allTiles
{
  padding: 0px 0px 0px 25px;
}


