.tweet
{
  margin: 5px;
}

.timestamp
{
  color: gray;
  margin: 5px 0px;  
}

.tweet > img
{
  margin-right: 10px;
}

.twitterName
{
  font-weight: bold;
}

.twitterAvatar
{
  float:left;
}

.tweetMenu > a
{
  padding: 5px 10px;
}


.modal-body .btn
{
  margin: 5px 3px;
}


#newTweets
{
  margin:5px;
  text-align: center;
  cursor: pointer;
}

#template
{
  display:none;
}

#tweetHolder
{
  position: relative;
  clear:both;
}

#tweetSuccessAlert
{
  clear:both;
  margin:5px;
}


