div#userShow
{  
  dl
  {
    margin:0px;
  }

  .nav-tabs.nav-stacked > li > a
  {
    border-bottom: 0px;
  }
  
  .nav-tabs.nav-stacked > li:last-child > div
  {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
  }
  
  .nav-tabs.nav-stacked > li > div
  {
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    
    line-height: 18px;
    padding-right: 12px;
    padding-left: 12px;
    
    dl
    {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
  
}
