<div>
  <%= link_to "Log in with Facebook", omniauth_authorize_path(resource_name, 'facebook'), id:"facebook-login-button", class:"zocial facebook" %>
  <%= link_to "Connect with Twitter", omniauth_authorize_path(User, 'twitter'), id:"connect_twitter_link", class:"zocial twitter" %>
  <%= link_to "Connect with Instagram", omniauth_authorize_path(resource_name, 'instagram'), id: "sign-in-with-instagram", class:"zocial instagram" %>
  <%= link_to "Log in with Foursquare", omniauth_authorize_path(resource_name, 'foursquare'), id:"foursquare-login-button", class:"zocial foursquare" %>
</div>

