<div id="facebookCreateAccount">
  <h2>To continue, login with your Facebook account</h2>
  <%= link_to image_tag("facebook-login-button.png", size:"64x64"), omniauth_authorize_path(resource_name, 'facebook'), id:"facebook-login-button" %>
</div>
