<div id="facebookCreateAccount">
  <h3>To continue, login with your Facebook account</h3>
  <%= link_to "Log in with Facebook", omniauth_authorize_path(resource_name, 'facebook'), id:"facebook-login-button", class:"zocial facebook" %>
</div>
