
<div id="newTweets" class='alert alert-info fade in hide'>
  <a class='close' data-dismiss='alert' href='#'>×</a>
  <p>
    <strong>5</strong> new Tweets!
  </p>
</div>


<div id="tweets">
  <%= render partial:"partials/twitter/tweet_template" %>
</div>

<div id="tweetControls"></div>
