@import "partials/mixins";
@import "partials/colors";

div#postForm
{
  background-color: $fanzoneBackground;
  padding: 0px 10px 10px 10px;
  @include clearfix;
  
  h4
  {
    padding-top:0px;
  }
  
  .profile_pic
  {
    margin-right:10px;
  }

  .post_fields
  {
    padding-left:42px;
    padding-bottom: 7px;
    
    .media_preview
    {
      padding-bottom: 10px;
    }
    
    .social_controls
    {
      float:left;
      
      input
      {
        float:left;
        margin:5px;
      }
      
      div
      {
        float:left;
        height:20px;
        width:20px;
      }
      
      .twitter_check
      {
        background: asset-url("fanzo-icons.png", image) 0px 0px no-repeat;
        margin-right: 20px
      }
      
      .facebook_check
      {
        background: asset-url("fanzo-icons.png", image) -20px 0px no-repeat;
      }
    }
    
    #post_combo
    {
      float: right;
      border: 1px solid $fanzoButtonBorder;
      
      #add_post, .quickTweetButton
      {
        float:left;
        border:none;
      }
      
      #add_post
      {
        border-right: 1px solid white;
      }
      
      .quickTweetButton
      {
        padding: 6px 10px;
        border-left: 1px solid $fanzoButtonBorder;
        
        &:focus
        {
          outline: none;
        }
      }
      
      .dropdown-menu
      {
        width: 200px;
        
        li
        {
          cursor:pointer;
          padding-left:5px;
          
          &:not(.divider):hover 
          {
            background: $backgroundColor;
            border: 1px solid $borderColor;
            margin: -1px;          
          }
                    
          p
          {
            margin:0px;
            padding-left: 5px;
            font-size: 12px;
          }
        }

        li.sectionHeader
        {
          &:hover
          {
            background: inherit;
            border: none;
            margin:0px;
          }
        }
      }
    }
    
  }
}
