@import "partials/mixins";
@import "partials/colors";

div#posts
{
  .profile_pic
  {
    margin: 0px 10px 0px 0px;
  }

  div.post
  {
    background: white;
    padding: 10px;
    border-top: $fanzoneLightBorder solid 1px;
    
    
    .post_content, .comment_content
    {
      margin-left: 42px;
      
      .user_name
      {
        font-family: 'League Gothic',Helvetica,Arial,Verdana,sans-serif;
        letter-spacing: 0.03em;
        font-size: 1.5em;
        text-transform: uppercase;
        color: $mediumTextColor;
      }
      
      .timestamp
      {
        color: $lightTextColor;
      }
      
      .post_text
      {
        clear: both;
      }
      
      .post_media
      {
        .post_image
        {
          position:relative;
          float:left;
          padding: 10px 0px;
          
          img
          {
            max-width: 306px;
          }
          .pinButton
          {
            float:right;
            margin-top: 10px;
          }
        }
        
        .post_video
        {
          position:relative;
          cursor: pointer;
          padding: 10px 0px;
          
          img
          {
            width: 306px;
          }

          .playButtonBackground
          {
            top:35%;
            left:125px;
          }
        }
      }
    }
    
    .post_votes, .comment_votes
    {
      margin-left:10px;
      margin-bottom:10px;
      float:right;

      i
      {
        margin-top:2px;
        cursor: pointer;
        opacity: 0.5;
        
        &:hover
        {
          opacity: 1;
        }
      }
      
      i.disabled
      {
        background-color: #CCCCCC;
        @include border-radius-with-ie(25%);
        cursor: inherit;
        opacity: 1;
      }
      
      form
      {
        padding:0px;
        margin:0px;
      } 

      .vote_up, .vote_down
      {
        margin-top: 1px;
        float: left;
      }
                 
      .fan_score
      {
        float: left;
        color: $lightTextColor;
        padding: 0px 10px;
        margin-top: 1px;
      }
      
    }
    
    div.post_comments
    {
      clear:both;
      padding-left: 42px;
      
      .comment
      {
        clear:both;
      }
    }
    
    .post_comment_form
    {
      clear:both;
      padding-left:42px;
      
      .comment_form
      {
        padding-left:42px;
      
        form
        {
          margin:0px;
          
          #comment_content
          {
            height: 32px;
            margin:0px;
          }
        }
        
        .comment_submit
        {
          display:none;
          padding: 3px 15px;
          background: black;
          color: white;
          text-transform: uppercase;
          float:right;
        }
      }
    }
  }
}
