<div id="myConnectTwitterModal" class="modal hide">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
  </div>
  <div class="modal-body">
    <h3>To continue,<br/>please connect your<br/>Twitter account:</h3>
    <%= render partial: "partials/buttons/connect_twitter_button" %>
  </div>
</div>


