<div id="myCreateFanzoneModal" class="fanzoneFormView modal hide">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h2>Create a Fanzone</h2>
  </div>
  <%= render partial: "tailgates/form", locals:{ aTailgate: aTailgate } %>
</div>
