<div id="myEditFanzoneModal" class="fanzoneFormView modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h2>Edit Your Fanzone</h2>
  </div>
  <%= render partial: "tailgates/form", locals:{ aTailgate: aTailgate, aShowDestroyFlag: true } %>
</div>
