<div id="myFirstRunModal" class="modal hide">
  <div class="modal-body">
    <div class="firstRunContent">
      <div class="welcome">welcome to</div>
      <div class="branding">
        <div class="logo">
          <%= image_tag "fanzo-logo-260.png", size:"260x120", alt:"Fanzo.me, Where Fans Rule!" %>
        </div>
      </div>
    </div>
    <div class="callToAction">
      <div class="getStarted">
        <p>Fanzo connects fans online and at venues near you</p>
        <p>Start following YOUR team:</p>
      </div>
      <div class="goLogin">
        <%= render partial: "partials/buttons/facebook_login_button", locals:{resource_name:"user"} %>
      </div>
    </div>
  </div>
</div>

<div id="latestNews" class="bubble rightArrow">
  Get the latest news, photos and videos for your team.
</div>
<div id="localVenues" class="bubble leftArrow">
  Find local venues to meet up with other fans and watch the game.
</div>
<div id="postThoughts" class="bubble topArrow">
  Post your thoughts to the Fanzone Chatter stream.
</div>
<div id="teamTweets" class="bubble rightArrow">
  Real-time Tweets about your team.
</div>
<div id="meetFans" class="bubble topArrow">
  Meet other fans and invite your friends to the party.
</div>
