<div id="myLoginModal" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
  </div>
  <div class="modal-body">
    <h3>To continue<br/>Please log in with your<br/>Facebook account:</h3>
    <%= render partial: "partials/buttons/facebook_login_button", locals:{resource_name:"user"} %>
  </div>
</div>


