<div id="myMediaModal" class="modal hide">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <div>
      <img class="profile_pic" width="32px" height="32px"/>
      <h3>Instagram Title</h3>
    </div>
  </div>
  <div class="modal-body">
    <div id="mediaImageData">
      <div class="mediaImage"></div>
    </div>
    <div id="mediaVideoData">
      <div id="player"></div>
    </div>
    <div class="mediaCaption"></div>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0);" class="fanzoButton" id="post_media_button">Add To New Post</a>
    <a href="javascript:void(0);" class="fanzoButton" data-dismiss="modal">Done</a>
  </div>
</div>
