<footer class="footer">
  <small>
  	FANZO: Never watch the game alone!
  </small>
  <nav>
    <ul>
      <li><a href="http://www.twitter.com/fanzofans">Follow us on Twitter</a></li>
      <li><a href="http://www.facebook.com/fanzofans">Like us on Facebook</a></li>
    </ul>
  </nav>
</footer>
