<div id="myMediaSlider">
  <div id="myMediaControls">
    <div id="navigate_forward" class="outer hide">
      <div class="innerControl"></div>
    </div>
    <div id="navigate_backward" class="outer hide">
      <div class="innerControl"></div>
    </div>
  </div>
  <div id="myMediaTemplate" class="mediaThumbnail">
    <div class="mediaAnnotation"></div>
    <div class="media">
      <img class="mediaImage" style="width:150px" />
    </div>
  </div>
  <div id="myMediaContainer">
    <div id="myMediaContent">
    </div>
  </div>
</div> 
